.icon {
	@include draw-circle(1rem);
	border: 1px solid transparent;
}

.icon-empty {
	border: 1px solid $color-medium-dark;
	color: $color-dark;
}

.icon-selected {
	border: 1px solid $color-medium-dark;
	color: $color-dark;
}

.icon-ok {
	background: $color-green;
	color: $color-white;
}

.icon-fail {
	background: $color-red;	
	color: $color-white;
}

.icon-move-x {
	background: rebeccapurple;
}

.icon-move-y {
	color: $color-dark;
}

.icon-cancel {
	color: $color-medium-dark;
}

.icon-sound-on {
	color: $color-medium-dark;
}

.icon-sound-off {
	color: $color-medium-dark;
}

.icon-replay {
	color: $color-medium-dark;
}