.Q06Order {
	li {
		background: $color-light;
		border: 1px solid transparent;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		
		margin-bottom: 0.75rem;
		padding: 0.2rem 0.5rem;
	}
	
	li:last-child {
		margin-bottom: 0;
	}
	
	li.ui-sortable-helper {
		background: $color-medium-light !important;
		border: 1px solid transparent;
		z-index: 10;
	}
	
	li.sortable-placeholder {
		background: transparent !important;
		border-width: 0 !important;
		padding: 0;
	}
	
	.text {
		flex: 100%;
		padding-right: 0.5rem;
		text-align: center;
	}
	
	.icon {
		margin-top: auto;
		margin-bottom: auto;
	}
}
