body, html {
	/*height: 100%;*/
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
	font-family: Arial;
	font-family: 'open_sansregular';
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=text] {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.main-content {
	/*display: table;*/
	width: 100%;
	height: 100%;
	font-size: 1em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input {
	font-size: 1em;
}

.row-content {
	/*display: table-row;*/
	width: 100%;
}

.cell-content {
	/*display: table-cell;*/
}

.cell-content:before,
.cell-content:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cell-content:after {
    clear: both;
}

*:FOCUS {
	border: none;
	outline: none;
}

#loading {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	font-size: 3em;
	color: #666;
}

#loading:before {
	text-align: center;
	content: attr(data-text);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
}

.content {
	padding: 1em;
}

.cell-content.left {
	width: auto;
}

.cell-content.right {
	/*width: 40%;*/
}

.cell-content.spacer {
	width: 1em;
}

.header {
	/*height: 0;*/
	background-color: transparent;
}

.header .header-question {
/*	background-color: #fff;*/
	width: 100%;
	padding: 1em 1.5em 0 1.5em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	height: auto;
	position: relative;
	
	background: #eaecee;
}

.footer {
	background-color: transparent;
	height: 1%;
}

#footer-container {
	background-color: transparent;
	width: 100%;
	padding-top: 1em;
	height: auto;
	position: relative;
	/*display: table-cell;*/
	vertical-align: bottom;
}

#footer-container.incorrect {
	background: rgba(254, 237, 237, 1);
	background: -moz-linear-gradient(top, rgba(254, 237, 237, 1) 0%,
	rgba(251, 218, 218, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254, 237,
	237, 1)), color-stop(100%, rgba(251, 218, 218, 1)));
	background: -webkit-linear-gradient(top, rgba(254, 237, 237, 1) 0%,
	rgba(251, 218, 218, 1) 100%);
	background: -o-linear-gradient(top, rgba(254, 237, 237, 1) 0%,
	rgba(251, 218, 218, 1) 100%);
	background: -ms-linear-gradient(top, rgba(254, 237, 237, 1) 0%,
	rgba(251, 218, 218, 1) 100%);
	background: linear-gradient(to bottom, rgba(254, 237, 237, 1) 0%,
	rgba(251, 218, 218, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#feeded',
	endColorstr='#fbdada', GradientType=0);
}

#footer-container.correct {
	background: rgba(244, 248, 236, 1);
	background: -moz-linear-gradient(top, rgba(244, 248, 236, 1) 0%,
	rgba(237, 248, 218, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244, 248,
	236, 1)), color-stop(100%, rgba(237, 248, 218, 1)));
	background: -webkit-linear-gradient(top, rgba(244, 248, 236, 1) 0%,
	rgba(237, 248, 218, 1) 100%);
	background: -o-linear-gradient(top, rgba(244, 248, 236, 1) 0%,
	rgba(237, 248, 218, 1) 100%);
	background: -ms-linear-gradient(top, rgba(244, 248, 236, 1) 0%,
	rgba(237, 248, 218, 1) 100%);
	background: linear-gradient(to bottom, rgba(244, 248, 236, 1) 0%,
	rgba(237, 248, 218, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f4f8ec',
	endColorstr='#edf8da', GradientType=0);
}

#footer-container.correct #check-container:before {
	position: relative;
	content: attr(data-correct_text);
	color: #41830c;
	font-size: 0.6em;
	left: -1em;
}

#footer-container.incorrect #check-container:before {
	position: relative;
	content: attr(data-incorrect_text);
	color: #d27474;
	font-size: 0.6em;
	left: -1em;
}

.middle {
	height: 100%;
	background-color: transparent;
	
	overflow: hidden;
}

.main-image {
	/*background-position: center center;*/
	/*background-size: 100% auto;*/
	background-repeat: no-repeat;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	background-size: 50% auto;
}

.image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.header h1 {
	font-weight: bold;
	font-size: 1em;
	color: #747474;
	margin: 0;
}

.header h2 {
	color: #909090;
/*	font-size: 0.8em;*/
	font-size: 1em;
	font-weight: normal;
	margin: 0.5em 0 1em;
}

#game-panel {
/*	font-size: 0.9em;*/
	font-size: 1em;
}

.button-icon {
	background-color: #fff;
	color: #557e98;
	border: 1px solid #f1f1f1;
	font-size: 1em;
	padding: 0.5em 0.5em 0.4em;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	cursor: pointer;
}

.button-icon:not  ([disabled=disabled]  )
:hover {
	background-color: #eee;
}

.button-icon[disabled=disabled] {
	background-color: #e5e5e5;
	cursor: not-allowed;
}

.button {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
/*	border: none !important;*/
	border: 1px solid #828282;
/*	padding: 1em;*/
	text-decoration: none !important;
/*	color: #ffffff;*/
	color: #828282;
	font-size: 1em;
/*
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
	background: rgba(101, 185, 82, 1);
	background: -moz-linear-gradient(top, rgba(101, 185, 82, 1) 0%,
	rgba(82, 169, 63, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(101, 185, 82
	, 1)), color-stop(100%, rgba(82, 169, 63, 1)));
	background: -webkit-linear-gradient(top, rgba(101, 185, 82, 1) 0%,
	rgba(82, 169, 63, 1) 100%);
	background: -o-linear-gradient(top, rgba(101, 185, 82, 1) 0%,
	rgba(82, 169, 63, 1) 100%);
	background: -ms-linear-gradient(top, rgba(101, 185, 82, 1) 0%,
	rgba(82, 169, 63, 1) 100%);
	background: linear-gradient(to bottom, rgba(101, 185, 82, 1) 0%,
	rgba(82, 169, 63, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#65b952',
	endColorstr='#52a93f', GradientType=0);
*/
	/*transition: color 0.5s;
	-webkit-transition: color 0.5s;*/
	height: 2.75em;
	width: 12em;
	cursor: pointer;
	
	font-family: 'open_sansregular';
	background: #ffffff;
}

.button.small {
	font-size: 0.7em;
	padding: 0.6em;
}

.button:hover {
/*
	background: rgba(132, 199, 117, 1);
	background: -moz-linear-gradient(top, rgba(132, 199, 117, 1) 0%,
	rgba(104, 192, 84, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(132, 199,
	117, 1)), color-stop(100%, rgba(104, 192, 84, 1)));
	background: -webkit-linear-gradient(top, rgba(132, 199, 117, 1) 0%,
	rgba(104, 192, 84, 1) 100%);
	background: -o-linear-gradient(top, rgba(132, 199, 117, 1) 0%,
	rgba(104, 192, 84, 1) 100%);
	background: -ms-linear-gradient(top, rgba(132, 199, 117, 1) 0%,
	rgba(104, 192, 84, 1) 100%);
	background: linear-gradient(to bottom, rgba(132, 199, 117, 1) 0%,
	rgba(104, 192, 84, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#84c775',
	endColorstr='#68c054', GradientType=0);
*/
	background: #eeeeee;
}

.button.disabled {
/*
	background: rgba(146, 183, 138, 1);
	background: -moz-linear-gradient(top, rgba(146, 183, 138, 1) 0%,
	rgba(122, 170, 110, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(146, 183,
	138, 1)), color-stop(100%, rgba(122, 170, 110, 1)));
	background: -webkit-linear-gradient(top, rgba(146, 183, 138, 1) 0%,
	rgba(122, 170, 110, 1) 100%);
	background: -o-linear-gradient(top, rgba(146, 183, 138, 1) 0%,
	rgba(122, 170, 110, 1) 100%);
	background: -ms-linear-gradient(top, rgba(146, 183, 138, 1) 0%,
	rgba(122, 170, 110, 1) 100%);
	background: linear-gradient(to bottom, rgba(146, 183, 138, 1) 0%,
	rgba(122, 170, 110, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#92b78a',
	endColorstr='#7aaa6e', GradientType=0);
*/
	cursor: not-allowed;
	background: #ebebeb;
}

.button.selected {
	background: none;
	background-color: #fff;
	color: #616161;
/*
	border: 1px solid #f1f1f1;
	text-shadow: none;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
*/
	cursor: pointer;
/*
	background: rgba(255, 254, 255, 1);
	background: -moz-linear-gradient(top, rgba(255, 254, 255, 1) 0%,
	rgba(240, 240, 240, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 254,
	255, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 254, 255, 1) 0%,
	rgba(240, 240, 240, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 254, 255, 1) 0%,
	rgba(240, 240, 240, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 254, 255, 1) 0%,
	rgba(240, 240, 240, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 254, 255, 1) 0%,
	rgba(240, 240, 240, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#fffeff',
	endColorstr='#f0f0f0', GradientType=0);
*/
	background: #ffffff;
}

.button.blue {
	background: rgba(144, 206, 223, 1);
	background: -moz-linear-gradient(top, rgba(144, 206, 223, 1) 0%,
	rgba(115, 190, 211, 1) 41%, rgba(73, 167, 193, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(144, 206,
	223, 1)), color-stop(41%, rgba(115, 190, 211, 1)),
	color-stop(100%, rgba(73, 167, 193, 1)));
	background: -webkit-linear-gradient(top, rgba(144, 206, 223, 1) 0%,
	rgba(115, 190, 211, 1) 41%, rgba(73, 167, 193, 1) 100%);
	background: -o-linear-gradient(top, rgba(144, 206, 223, 1) 0%,
	rgba(115, 190, 211, 1) 41%, rgba(73, 167, 193, 1) 100%);
	background: -ms-linear-gradient(top, rgba(144, 206, 223, 1) 0%,
	rgba(115, 190, 211, 1) 41%, rgba(73, 167, 193, 1) 100%);
	background: linear-gradient(to bottom, rgba(144, 206, 223, 1) 0%,
	rgba(115, 190, 211, 1) 41%, rgba(73, 167, 193, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#90cedf',
	endColorstr='#49a7c1', GradientType=0);
}

.button.blue.disabled {
	background: rgba(162, 196, 205, 1);
	background: -moz-linear-gradient(top, rgba(162, 196, 205, 1) 0%,
	rgba(137, 178, 189, 1) 41%, rgba(100, 151, 166, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(162, 196,
	205, 1)), color-stop(41%, rgba(137, 178, 189, 1)),
	color-stop(100%, rgba(100, 151, 166, 1)));
	background: -webkit-linear-gradient(top, rgba(162, 196, 205, 1) 0%,
	rgba(137, 178, 189, 1) 41%, rgba(100, 151, 166, 1) 100%);
	background: -o-linear-gradient(top, rgba(162, 196, 205, 1) 0%,
	rgba(137, 178, 189, 1) 41%, rgba(100, 151, 166, 1) 100%);
	background: -ms-linear-gradient(top, rgba(162, 196, 205, 1) 0%,
	rgba(137, 178, 189, 1) 41%, rgba(100, 151, 166, 1) 100%);
	background: linear-gradient(to bottom, rgba(162, 196, 205, 1) 0%,
	rgba(137, 178, 189, 1) 41%, rgba(100, 151, 166, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#a2c4cd',
	endColorstr='#6497a6', GradientType=0);
	cursor: not-allowed;
}

.button.right {
	right: 2em;
}

.center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

#outer-container {
	/*display: table;*/
	width: 100%;
	height: 100%;
}

#middle-container {
	/*display: table-cell;*/
	vertical-align: middle;
	width: 100%;
	background-color: transparent;
	padding-left: 1em;
	padding-right: 1em;
}

#inner-container {
	margin: 0 auto;
	position: relative;
	background-color: transparent;
	overflow: hidden;
}

#playground {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	background-position: center center;
	background-size: cover;
}

.header-question .header-question-button {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	position: absolute;
	right: 0
}

.header-question-text-container {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

#show-correct {
	text-decoration: underline;
	font-size: 1em;
	color: #838890;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

#show-correct:hover {
	text-decoration: underline;
	text-decoration: none;
	font-size: 1em;
	color: #5c5f65;
}

#show-correct.disabled {
	text-decoration: none;
	font-size: 1em;
	color: rgba(0, 0, 0, 0.3);
	cursor: not-allowed;
}

#main-content {
/*
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
*/
	background-color: #ffffff;
}

.sound-ctrl {
	color: #fff;
	background-color: #4b8fb7;
	border: none;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
	position: relative;
	display: inline-block;
	width: 7em;
}

.sound-ctrl.playing {
	background-color: #ed8241;
	width: 2em;
}

.sound-ctrl.paused {
	background-color: #666;
	width: 2em;
}

.sound-ctrl .sound-text {
	font-size: 0.6em;
	display: inline;
	float: right;
	margin-top: 0.3em;
	margin-left: 0.5em;
}

.draggable-element {
	position: relative;
	padding: 0.2em .5em 0.3em .5em;
	white-space: normal;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: move;
	color: #5f5e5e;
	font-size: 1em;
	font-weight: normal;
	background: rgba(255, 255, 255, 1);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 245, 246, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(246, 245, 246, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 245, 246, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 245, 246, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 245, 246, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 245, 246, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff', endColorstr='#f6f5f6', GradientType=0);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.11);
}

.draggable-element-revert {
	background: #f2f2f2;
	-webkit-box-shadow: inset 0px 7px 2px -6px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: inset 0px 7px 2px -6px rgba(0, 0, 0, 0.18);
	box-shadow: inset 0px 7px 2px -6px rgba(0, 0, 0, 0.18);
}

.game-icon {
	background-image: url("../icons/border_empty.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 95% auto;
	cursor: pointer;
	float: right;
	height: 2em;
	margin-right: -0.3em;
	top: -0.4em;
	width: 2em;
}

.game-icon.empty {
	background-image: url("../icons/border_empty.svg");
}

.game-icon.empty-clear {
	background-image: url("../icons/icons_empty.svg");
}

.game-icon-move {
	background-image: url("../icons/border_move.svg");
	cursor: move;
}

.game-icon-move-x {
	background-image: url("../icons/border_move-x.svg");
	cursor: w-resize;
}

.game-icon-move-y {
	background-image: url("../icons/border_move-y.svg");
	cursor: n-resize;
}

.game-icon-cancel {
	background-image: url("../icons/border_cancel.svg");
}

.game-icon-cancel:hover {
	background-image: url("../icons/border_cancel-hover.svg");
}

.game-icon.correct {
	background-image: url("../icons/border_ok.svg") !important;
	cursor: default;
}

.game-icon.incorrect {
	background-image: url("../icons/border_fail.svg") !important;
	cursor: default;
}

.game-icon.selected {
	background-image: url("../icons/border_blue-ok.svg");
	cursor: default;
}

#background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 99999;
}

#window {
	position: absolute;
	top: 20%;
	left: 30%;
	right: 30%;
	background-color: white;
	z-index: 101;
	border: 1px solid rgb(100, 162, 108);
	padding: 1%;
	-webkit-box-shadow: 10px 10px 10px 0 #B4D1B9;
	box-shadow: 2px 2px 2px 0 #B4D1B9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 9999999;
}

#window-title {
/*	font-size: 1.6em;*/
	font-size: 1em;
	color: rgb(74, 138, 82);
	text-align: center;
}

#window-close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1% 2%;
	font-size: 1em;
	background-color: rgb(100, 162, 108);
	cursor: pointer;
	color: white;
}

#window-close:hover {
	background-color: rgba(100, 162, 108, 0.5);
}

#window-content {
	margin: 0.3em 0;
	color: rgb(82, 82, 82);
/*	font-size: 0.8em;*/
	font-size: 1em;
	text-align: center;
}

#window-content .button {
/*	left: 50%;*/
	position: relative;
/*	margin-left: -7.5em;*/
	margin-top: 1em;
	font-size: 1em;
	
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 25%;
}

.video-container {
	width: 40%;
	height: 100%;
	display: block;
	position: absolute;
	margin: auto;
	background-color: transparent;
	padding-right: 1em;
	top: 0px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.video-container .video {
	width: 100%;
}

.video-container .subtitles {
	overflow: hidden;
	position: relative;
	height: 6.5em;
}

.video-container .subtitles .subtitle {
	width: 100%;
	display: none;
	color: #555;
	position: absolute;
	bottom: 0;
	line-height: 1.5em;
}

.video-container .subtitles .subtitle.active {
	display: inline-block;
}

.show-answers {
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 1em;
	text-align: center;
	font-family: 'open_sansregular';
}

/* Turn non-responsive on 
* non-responsive -> no tables + main image moved
* non-responsive-height -> height back to 100% */
html.non-responsive-height {
	height: 100%;
}

html.non-responsive-height body {
	height: 100%;
}

html.non-responsive .main-content {
	display: table;
}

html.non-responsive .main-image {
	height: auto !important;
	width: 30%;
	background-size: contain;
	background-position: center;
}

html.non-responsive .row-content {
	display: table-row;
}

html.non-responsive .cell-content {
	display: table-cell;
}

html.non-responsive #footer-container {
	display: table-cell;
}

html.non-responsive #outer-container {
	display: table;
}

html.non-responsive #middle-container {
	display: table-cell;
}

html.non-responsive .header {
	height: 0;
}