@import 'fonts';
@import 'variables';
@import 'functions';
@import 'icons';

@import 'Q03XofY';
@import 'Q04XofYM';
@import 'Q05AXofYImg';
@import 'Q05BXofYImgM';
@import 'Q06Order';
@import 'Q08CloudInputGroup';
@import 'Q09CloudInput';
@import 'Q18XofYAudioM';


html, body {
	background: transparent;
	color: $color-dark;
	font-family: $main-font, Arial;
	font-size: $main-font-size;
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	color: $color-medium-dark;
	font-family: $main-font;
	font-size: $main-font-size;
	text-decoration: none;
}

h1 {
	font-family: $main-font-bold;
	font-size: 1rem;
	font-weight: normal;
	margin: 0 0 0.5rem 0;
}

h2 {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

#loading {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	font-size: 3em;
	color: #666;
}

#loading:before {
	text-align: center;
	content: attr(data-text);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.content {
	background: #ffffff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 2rem 2.7rem 2.7rem 2.7rem;
}

.header {
	border-bottom: 1px solid $color-medium-dark;
	padding-bottom: 1.75rem;
}

#game-panel {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}

.footer {
	border-top: 1px solid $color-medium-dark;
	padding-top: 1.75rem;
}

.button {
	background: $color-white;
	border: 1px solid $color-medium-dark;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: $main-font;
	font-size: $main-font-size;
}

.button-sound {
	border: 1px solid transparent;
	padding: 0.2rem;
}

#check-container {
	float: right;
	text-align: center;
}

#check-correct {
	padding: 0.2rem 0;
	width: 8rem;
}

#check-correct.selected {
	background: $color-medium-dark;
	border: 1px solid transparent;
	color: $color-white;
}

#show-correct {
	font-size: 0.75rem;
}

