<figure class="current-state" ng-repeat="item in dataGimnazjon" ng-show="$parent.$parent.stateGimnazjon === item.id" ng-animate="'current-state'" ng-class="{'current-state--active' : $parent.stateGimnazjon === item.id, 'current-state--going-back' : $parent.back === true}"><span u-hide>{{item.id}}</span>
	<figure ng-repeat="child in item.audio" ng-show="item.audio.length === 1 && $parent.stateGimnazjon === item.id">
	  <audio controls class="audio">
	  	<source ng-src="{{child.itemOne}}" type="audio/mp3">
	  	<source ng-src="{{child.itemTwo}}" type="audio/ogg">
	  </audio>
	</figure>
	<div ng-repeat="child in item.media" ng-show="$parent.$parent.$parent.$parent.galleryGimnazjonIndex === $index + 1">
		<p ng-bind-html="child.caption" ng-show="child.caption !== '' && $parent.item.media.length > 1"></p>
	</div>
	<div ng-bind-html="item.desc" ng-show="item.desc !== ''"></div>
	<form name="myForm-{{item.id}}">
	  <figure ng-repeat="child in item.content">
	    <button ng-click="$parent.$parent.$parent.$parent.stateGimnazjon = child.id; $parent.$parent.$parent.$parent.$parent.stopAll()" ng-mouseenter="$parent.$parent.$parent.$parent.back = false"><i class="fa fa-chevron-right"></i></button>
	  	<span class="label">{{child.option}}</span>
	  </figure>
	</form>
	<div class="button-wrapper">
		<button class="button button--back" ng-show="$parent.$parent.$parent.stateGimnazjon !== 0" ng-click="$parent.$parent.$parent.stateGimnazjon = 0; showButton = false; $parent.$parent.backTimeout(); $parent.$parent.galleryGimnazjonIndex = 1" ng-mouseenter="$parent.$parent.$parent.back = true"><i class="fa fa-arrow-left" u-space-right></i>Wróć do początku</button>
	</div>
</figure>