<figure class="image"
        style="width: {{$parent.mapWidth}}px;
               height: {{$parent.mapHeight}}px;
               margin: {{-($parent.mapHeight / 2)}}px 0 0 {{-($parent.mapWidth / 2)}}px;
               background-size: {{$parent.mapWidth}}px {{$parent.mapHeight}}px;
               -webkit-transform: translate({{mapX * -1 - $parent.asideOffset}}px, {{mapY * -1}}px) scale({{$parent.mapScale}});
               transform: translate({{mapX * -1 - $parent.asideOffset}}px, {{mapY * -1}}px) scale({{$parent.mapScale}})"
     ng-class="{'image--zoomed' : $parent.state !== 0}">

  <ng-include src="'svg/map.svg'" class="svg"></ng-include>

  <!-- DEFINITION ITEMS -->
  <!-- <figure class="definition definition--{{item.position}}"
          ng-repeat="item in $parent.items track by $index"
          ng-class="{'definition--active' : $parent.state === $index + 1}"
          style="left: calc(50% + {{item.x}}px);
                 top: calc(50% + {{item.y}}px)">
    <i class="definition__pointer" ng-class="{'definition__pointer--active' : $parent.$parent.state === $index + 1}">
      <i class="definition__pointer__dot definition__pointer__dot--{{[items[]]}}"
         data-title="o"
         ng-mouseenter="$parent.$parent.hoverAgora = true"
         ng-mouseleave="$parent.$parent.hoverAgora = false"
         ng-class="{'definition__pointer__dot--debug' : $parent.$parent.debug === true}"
         ng-click="$parent.$parent.state = $index + 1;
                   $parent.$parent.mapX = item.x;
                   $parent.$parent.mapY = item.y;
                   $parent.$parent.$parent.mapYoffset = item.yOffset;
                   $parent.$parent.labelScale = 1;
                   $parent.$parent.asideOffset = $parent.$parent.watchWindowWidth * 35 / 100 / 2;
                   $parent.$parent.mapScale = 1;">
      </i>
    </i>
  </figure> -->

  <figure class="definition"
          ng-class="{'definition--active' : state === 1}"
          style="left: calc(50% + {{items[0].x}}px);
                 top: calc(50% + {{items[0].y}}px)">
    <i class="definition__pointer" ng-class="{'definition__pointer--active' : $parent.state === 1}">
      <i class="definition__pointer__dot definition__pointer__dot--{{items[0].title | lowercase}}"
         data-title="o"
         ng-mouseenter="$parent.$parent.hoverAgora = true"
         ng-mouseleave="$parent.$parent.hoverAgora = false"
         ng-class="{'definition__pointer__dot--debug' : $parent.debug === true}"
         ng-click="$parent.state = 1;
                   $parent.mapX = items[0].x;
                   $parent.mapY = items[0].y;
                   $parent.$parent.mapYoffset = items[0].yOffset;
                   $parent.asideOffset = $parent.watchWindowWidth * 35 / 100 / 2;
                   $parent.mapScale = 1;
                   $parent.audioPlay(0)">
      </i>
    </i>
  </figure>
  <figure class="definition"
          ng-class="{'definition--active' : state === 2}"
          style="left: calc(50% + {{items[1].x}}px);
                 top: calc(50% + {{items[1].y}}px)">
    <i class="definition__pointer" ng-class="{'definition__pointer--active' : $parent.state === 2}">
      <i class="definition__pointer__dot definition__pointer__dot--{{items[1].title | lowercase}}"
         data-title="o"
         ng-mouseenter="$parent.$parent.hoverTeatr = true"
         ng-mouseleave="$parent.$parent.hoverTeatr = false"
         ng-class="{'definition__pointer__dot--debug' : $parent.debug === true}"
         ng-click="$parent.state = 2;
                   $parent.mapX = items[1].x;
                   $parent.mapY = items[1].y;
                   $parent.$parent.mapYoffset = items[1].yOffset;
                   $parent.asideOffset = $parent.watchWindowWidth * 35 / 100 / 2;
                   $parent.mapScale = 1;
                   $parent.audioPlay(1)">
      </i>
    </i>
  </figure>
  <figure class="definition"
          ng-class="{'definition--active' : state === 3}"
          style="left: calc(50% + {{items[2].x}}px);
                 top: calc(50% + {{items[2].y}}px)">
    <i class="definition__pointer" ng-class="{'definition__pointer--active' : $parent.state === 3}">
      <i class="definition__pointer__dot definition__pointer__dot--{{items[2].title | lowercase}}"
         data-title="o"
         ng-mouseenter="$parent.$parent.hoverAkropol = true"
         ng-mouseleave="$parent.$parent.hoverAkropol = false"
         ng-class="{'definition__pointer__dot--debug' : $parent.debug === true}"
         ng-click="$parent.state = 3;
                   $parent.mapX = items[2].x;
                   $parent.mapY = items[2].y;
                   $parent.$parent.mapYoffset = items[2].yOffset;
                   $parent.asideOffset = $parent.watchWindowWidth * 35 / 100 / 2;
                   $parent.mapScale = 1;
                   $parent.audioPlay(2)">
      </i>
    </i>
  </figure>
  <figure class="definition"
          ng-class="{'definition--active' : state === 4}"
          style="left: calc(50% + {{items[3].x}}px);
                 top: calc(50% + {{items[3].y}}px)">
    <i class="definition__pointer" ng-class="{'definition__pointer--active' : $parent.state === 4}">
      <i class="definition__pointer__dot definition__pointer__dot--{{items[3].title | lowercase}}"
         data-title="o"
         ng-mouseenter="$parent.$parent.hoverGimnazjon = true"
         ng-mouseleave="$parent.$parent.hoverGimnazjon = false"
         ng-class="{'definition__pointer__dot--debug' : $parent.debug === true}"
         ng-click="$parent.state = 4;
                   $parent.mapX = items[3].x;
                   $parent.mapY = items[3].y;
                   $parent.$parent.mapYoffset = items[3].yOffset;
                   $parent.asideOffset = $parent.watchWindowWidth * 35 / 100 / 2;
                   $parent.mapScale = 1;
                   $parent.audioPlay(3)">
      </i>
    </i>
  </figure>
</figure>