.E03Tagcloud {
	li {
		background: $color-light;
		border: 1px solid transparent;
		border-radius: 3px;
		cursor: grab;
		display: flex;
		margin-bottom: 0.75rem;
		padding: 0.2rem 0.5rem;
	}
	
	li:last-child {
		margin-bottom: 0;
	}
	
	li.ui-sortable-helper {
		background: $color-medium-light !important;
		border: 1px solid transparent;
		cursor: grabbing;
		z-index: 10;
	}
	
	li.sortable-placeholder {
		background: transparent !important;
		border-width: 0 !important;
		padding: 0;
	}
	
	li span {
		flex: 100%;
		text-align: center;
	}
		
	.button {
		padding: 0.2rem 0.5rem;
		width: 15rem;
	}
	
	.cell-content {
		text-align: center;
	}
	
	.icon {
		margin-top: auto;
		margin-bottom: auto;
		min-width: 1rem;
	}
	
	.tagcloud {
		text-align: center;
	}
	
	.tagcloud > span {
		padding: 0.2rem 0.5rem;
	}
}