.E08SlotMachine {
	.answer {
		display: flex;
		justify-content: center;
		opacity: 0;
	}
	
	.answer.correct, .answer.incorrect {
		opacity: 1;
	}
	
	.element {
		border-bottom: 1px solid $color-medium-light;
	}
	
	.game-buttons-container {
		display: flex;
		justify-content: center;
		margin-bottom: 1.75rem;
	}
	
	.gunsliders {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.75rem;
		overflow: hidden;
	}
	
	.gunslider {
		border-top: 1px solid $color-medium-light;
		border-bottom: 1px solid $color-medium-light;
		border-left: 1px solid $color-medium-light;
		height: 1.4rem;
		text-align: center;
		width: 100%;
	}
	
	.gunslider:last-child {
		border-right: 1px solid $color-medium-light;
	}
	
	.gunslider.animate .element {
		transition: margin 2s ease;
	}
	
	.gunslider.animate.animate-time-1 .element {
		transition-duration: 1s;
	}
	
	.gunslider.animate.animate-time-2 .element {
		transition-duration: 2s;
	}
	
	.gunslider.animate.animate-time-3 .element {
		transition-duration: 3s;
	}
	
	.gunslider.animate-fast .element {
		transition: margin 0.2s ease;
		transition-duration: 0.2s !important;
	}
	
	.icon {
		margin: auto 0.6rem auto 0;
	}
	
	.yes, .no {
		padding: 0.2rem 0.5rem;
		text-align: center;
		width: 5rem;
	}
	
	.yes {
		margin-right: 1.75rem;
	}	
}