.Q01Crossword {
	ol {
		margin-top: 1.75rem;
	}
	
	li {
		border-radius: 3px;
		display: flex;
		margin-bottom: 1rem;
		padding: 0.2rem 0.5rem;
	}
	
	li:last-child {
		margin-bottom: 0;
	}
	
	li.active {
		background: $color-light;
	}
	
	table {
		border-collapse: separate;
		border-spacing: 0 3px;
		margin-right: auto;
		margin-left: auto;
	}
	
	td {
		vertical-align: middle;
	}
	
	td.empty {
		padding: 0.2rem 0.5rem;
		text-align: right;
	}
	
	input {
		background: transparent;
		border: none;
		color: $color-dark;
		font-family: $main-font, Arial;
		font-size: $main-font-size;
		line-height: 125%;
		min-height: 1.2rem;
		text-align: center;
		padding: 0.2rem 0.5rem;
		width: 1rem;
	}
		
	.notempty {
		border-top: 1px solid $color-medium-light;
		border-bottom: 1px solid $color-medium-light;
		border-left: 1px solid $color-medium-light;
	}
	
	.last {
		border-right: 1px solid $color-medium-light;
	}
	
	.icon {
		min-width: 1rem;
	}
	
	.result {
		background: $color-medium-light;
	}
	
	.question-text {
		flex: 1;
		margin-left: 0.4rem;
	}
}