.Q03XofY {
	li {
		display: flex;
		padding-bottom: 1.5rem;
	}
	
	li:last-child {
		padding-bottom: 0;
	}
	
	li span:last-child {
		padding-left: 0.6rem;
	}
	
	.icon {
		min-width: 1rem;
		transform: translate(0, 10%);
	}
}
