.Q12PairsImg {
	img {
		display: inline;
	}
	
	.game-panel {
		display: flex;
	}
	
	.bottom {
		background: $color-light;
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		margin-top: 0.75rem;
		padding: 0.2rem 0.5rem;
	}
	
	.icon {
		margin: auto 0 auto 0.5rem;
		min-width: 1rem;
	}
	
	.pair {
		align-self: baseline;
		margin-right: 0.75rem;
	}
	
	.pair:last-child {
		margin: 0;
	}
	
	.ui-draggable-dragging {
		background: $color-medium-light;
		z-index: 10;
	}
}