.Q13SelectInText {
	.drop-word {
		border: 1px solid $color-medium-dark;
		border-radius: 3px;
		display: inline-flex;
		justify-content: space-between;
		line-height: 125%;
		min-height: 1.2rem;
		padding: 0.2rem 0.5rem;
		white-space: nowrap;
	}
	
	.icon {
		margin: auto 0 auto 0.5rem;
		min-width: 1rem;
	}
	
	.question {
		line-height: 200%;
	}
}