.Q14Map {
	.icon {
		cursor: pointer;
		position: absolute;
	}
	
	.icon-ok, .icon-fail {
		border: 1px solid $color-white;
	}
	
	.icon.disabled {
		cursor: default;
	}
	
	.main-container {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		position: relative;
	}
	
	.main-img {
		max-width: 100%;
	}
}