.Q16CloudInputImg {
	.game-panel {
		display: flex;
	}
	
	.icon {
		font-size: 1.5rem;
		height: 1.5rem;
		position: absolute;
		width: 1.5rem;
	}
	
	.icon-cancel {
		background: $color-white;
		border: 1px solid $color-medium-dark;
		color: $color-dark;
	}
	
	.icon-ok {
		border: 1px solid $color-white;
	}
	
	.icon-fail {
		border: 1px solid $color-white;
	}
	
	.main-container {
		max-width: 60%;
		margin-right: 1.75rem;
		position: relative;
	}
	
	.main-img {
		max-width: 100%;
	}
	
	.notempty:after {
		background: $color-white;
		border-radius: 3px;
		content: attr(data-word-inserted-text);
		color: $color-dark;
		display: inline-block;
		font-family: $main-font, Arial;
		font-size: $main-font-size;
		line-height: 1.25rem;
		padding: 0.2rem 0.5rem;
		transform: translate(-32.5%)
	}
	
	.option {
		background: $color-white;
		border: 1px solid $color-medium-dark;
		border-radius: 3px;
		display: inline-block;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
		padding: 0.2rem 0.5rem;
	}
	
	.options {
		margin-bottom: -0.5rem;
	}
}