.Q19XofYAudioMimgM {
	img {
		height: 12rem;
	}
	
	.answers-list {
		display: flex;
		flex-flow: wrap;
		justify-content: space-around;
		margin-bottom: -0.75rem;
	}
	
	.answer {
		margin-bottom: 0.75rem;
		position: relative;
	}
	
	.answer .icon {
		position: absolute;
		transform: translate(10%, -110%);
	}
	
	.icon-ok {
		border: 1px solid $color-white;
	}
	
	.icon-fail {
		border: 1px solid $color-white;
	}
}