.Q21Timeline {
	.dragging-list {
		margin-bottom: -0.5rem;
	}
	
	.dragging-list .icon {
		display: none;
	}
	
	.to-drag {
		background: $color-white;
		border: 1px solid $color-medium-dark;
		border-radius: 3px;
		display: inline-block;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
		padding: 0.2rem 0.5rem;
	}
	
	.timeline {
		background: $color-medium-dark;
		height: 0.25rem;
		position: relative;
	}
	
	.timeline-label {
		background: $color-medium-light;
		height: 1rem;
		position: absolute;
		width: 1px;
	}
	
	.timeline-marker {
		position: absolute;
	}
	
	.user-marker-container {
		position: absolute;
	}
	
	.user-marker-label {
		border: 1px dashed $color-medium-dark;
		border-radius: 3px;
		position: absolute;
	}
	
	.user-marker-line {
		background: $color-light;
		position: absolute;
		width: 1px;
	}
	
	.user-marker-year {
		position: absolute;
	}
}