.Q28TableCheckbox {

	th, td {
		border: 1px solid $color-medium-light;
		padding: 0.2rem 0.5rem;
		text-align: center;
		vertical-align: middle;
	}
	
	tr:first-child th {
		border-top: 0;
	}
	
	tr:last-child td {
		border-bottom: 0;
	}
	
	tr td:first-child, tr th:first-child {
		border-left: 0;
	}
	
	tr td:last-child, tr th:last-child {
		border-right: 0;
	}
	
	.container {
		display: flex;
		justify-content: center;
	}
	
	.icon {
		margin: auto 0 auto 0.5rem;
		min-width: 1rem;
	}
	
	.only-icon {
//		margin: auto 0 auto auto;
		margin: auto;
	}
	
	.table {
		width: 100%;
	}
}