.Q44TextColor {
	p:first-of-type {
		margin-top: 1.75rem;
	}
	
	p:last-of-type {
		margin-bottom: 0;
	}
	
	.playground {
		line-height: 200%;
	}
	
	.answer-box {
		border: 1px solid $color-medium-dark;
		border-radius: 3px;
		display: inline-flex;
		justify-content: space-between;
		line-height: 125%;
		min-height: 1.2rem;
		padding: 0.2rem 0.5rem;
		white-space: nowrap;
	}
	
	.color-display {
		border-radius: 3px;
		height: 1rem;
		margin: auto 0.5rem auto 0;
		width: 1rem;
	}
	
	.color-name {
		background: $color-light;
		border-radius: 3px;
		display: flex;
		margin-bottom: 0.75rem;
		padding: 0.2rem 0.5rem;
	}
	
	.color-picker {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		line-height: initial;
		margin-bottom: -0.75rem;
	}
	
	div.icon {
		margin: auto 0.5rem auto 0;
		min-width: 1rem;
	}
	
	.icon-ok, .icon-fail {
		border: 1px solid $color-white;
	}
	
	span.icon {
		margin: auto 0 auto 0.5rem;
		min-width: 1rem;
	}
}