.Q50XofYImg {
	.game-panel {
		display: flex;
	}
	
	img {
		align-self: center;
		max-height: 30rem;
		width: 40%;
	}
	
	ul {
		width: 60%;
	}
	
	li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		padding-bottom: 1.5rem;
	}
	
	li:last-child {
		padding-bottom: 0;
	}
	
	li span:last-child {
		padding-left: 0.6rem;
		padding-right: 1.75rem;
	}
	
	.icon {
		min-width: 1rem;
		transform: translate(0, 10%);
		-moz-transform: translate(0, 10%);
		-webkit-transform: translate(0, 10%);
	}
}
