$main-font: 'open_sansregular';
$main-font-bold: 'open_sansbold';
$main-font-italic: 'open_sansitalic';
$main-font-size: 16px;

$color-black: #000000;
$color-dark: #303333;
$color-medium-dark: #7c8486;
$color-medium-light: #d8dcdc;
$color-light: #f1f2f5;
$color-white: #ffffff;
$color-red: #ec6d63;
$color-green: #77bd81;

$color-bg-grayout: rgba(255, 255, 255, 0.75);