<!DOCTYPE html>
<html ng-app="Map" class="map-punkty" lang="pl">
<head>
  <meta charset="UTF-8">

  <title>Map</title>

  <!-- disable zoom -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <!-- ios specific -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- browser sync -->
  <style>

    body::before {
      background: hsla(0, 100%, 40%, 0.8);
      display: block;
      padding: 20px;
      font-weight: bold;
      font-size: 1.618rem;
    }

  </style>
  <!-- Styles -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body resizable
      id="body"
      class="u-color-bg-white"
      style="background-color: {{bgColor}}"
      ng-controller="MapController"
      ng-class="{'loaded' : loaded === true}"
      >

  <figure u-hide class="u-debug u-debug--click-through">
    <h1>{{mapX}}</h1>
  </figure>

  <main class="image"
       style="
       width: {{mapWidth}}px;
       height: {{mapHeight}}px;
       margin: {{-(mapHeight / 2) + mapOffsetTop}}px 0 0 {{-(mapWidth / 2) + mapOffsetLeft}}px;
       -webkit-transform: translate({{(mapX * -1) + mapXoffset - test}}px, {{(mapY * -1) + mapYoffset}}px) scale({{mapScale}});
       transform: translate({{(mapX * -1) + mapXoffset - test}}px, {{(mapY * -1) + mapYoffset}}px) scale({{mapScale}})"
       ng-class="{'image--zoomed' : state !== 0}">

    <div class="image__scale-reset"
        ng-class="{'image__scale-reset--zoomed-in' : state != 0}"
        ng-click="mapReset()"></div>

    <!-- DEFINITION ITEMS -->
    <figure class="definition definition--{{item.position}}"
            ng-repeat="item in items track by $index"
            ng-show="$parent.definitionHidden === false && $parent.introActive === false"
            ng-class="{'definition--active' : state === $index + 1}"
            style="left: calc(50% + {{item.x}}px);
                   top: calc(50% + {{item.y}}px)">

      <i class="definition__vignette"></i>
      <i class="definition__pointer" ng-class="{'definition__pointer--active' : $parent.state === $index + 1}">
        <i class="definition__pointer__dot"
           style="background-color: {{item.color}}; transform: scale({{labelScale}}); -webkit-transform: scale({{labelScale}})"
           data-title="{{$index + 1}}"
           ng-click="$parent.state = $index + 1;
                     $parent.mapX = item.x;
                     $parent.mapXoffset = item.xOffset;
                     $parent.mapY = item.y;
                     $parent.mapYoffset = item.yOffset;
                     $parent.labelScale = 1;
                     $parent.test = $parent.watchWindowWidth * 35 / 100 / 2;
                     $parent.mapScale = 1;">
        </i>
      </i>

    </figure>
  </main>

  <figure class="mask" ng-class="{'mask--active' : state !== 0}">
    <div class="mask--1"></div>
    <div class="mask--2"></div>
  </figure>

  <aside class="aside" role="main" ng-class="{'aside--active' : state !== 0}">
    <i class="aside__bg"></i>
    <figure ng-repeat="item in items" ng-if="$parent.state === $index + 1">
      <h2><span>{{item.title}}</span></h2>
      <div class="aside__scroll-container">
        <div ng-bind-html="item.description"></div>
        <video autoplay loop>
          <!-- <source src="{{item.imageSrc}}" type="video/mp4"> -->
        </video>
      </div>
    </figure>
  </aside>

  <nav class="nav" role="navigation"
       ng-class="{'nav--hidden' : state === 0 || definitionHidden === true}">
    <figure class="nav__item nav__item--{{item.class}}"
            ng-repeat="item in items"
            ng-class="{'nav__item--active' : state === $index + 1}"
            ng-click="$parent.state = $index + 1;
                      $parent.mapX = item.x;
                      $parent.mapXoffset = item.xOffset;
                      $parent.mapY = item.y;
                      $parent.mapYoffset = item.yOffset;
                      $parent.labelScale = 1;
                      $parent.test = $parent.watchWindowWidth * 35 / 100 / 2;
                      $parent.mapScale = 1;">
      <button style="border-color: {{item.color}}" data-title="{{$index + 1}}"></button>
    </figure>
  </nav>

  <figure class="toggle toggle--definition" ng-show="introActive === false">
    <input id="toggle--definition" class="u-hide" type="checkbox" ng-model="definitionHidden">
    <label for="toggle--definition" class="button icon-show" ng-if="definitionHidden === true"></label>
    <label for="toggle--definition" class="button icon-hide" ng-if="definitionHidden === false"></label>
  </figure>

  <!-- Vendor Scripts -->
  <script src="js/angular.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/angular-sanitize.js"></script>
  <script src="js/hotkeys.js"></script>

  <!-- Angular App -->
  <script src="js/app.js"></script>

  <script>
    document.onreadystatechange = function () {

      var body = document.getElementById('body');

      if (document.readyState === 'complete') {
        body.classList.add('loaded');
      }
    }
  </script>
</body>
</html>
