[class^="hero"] {

	@extend %fixed-bg-image;
	height: 80vh;
	background-position: center top;
	background-size: cover;
	text-align: center;

	&.image-fullscreen{
		height: 80vh !important;
		margin-top: 0;
	}

	&[class*="--short"] {

		height: 280px;
	}

	&[class*="--effects"] {

		&:before,
		&:after {

			content: "";
			@extend %fill-viewport;
			z-index: 1;
		}

		&:before {

			background: black;
			mix-blend-mode: color;
		}

		&:after {

			background: rgb(1, 131, 22);
			background: #93A302;
			mix-blend-mode: multiply;
		}
	}

	h1,
	[class^="title"] {

		@extend %center;
		margin-top: -.1rem;
		color: $white;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.53);
		display: inline-block;
		padding: $space $space-and-half;
	}
}
