.container {

	@extend %row;
	justify-content: space-between;

	> * {

		display: flex;
	}

	&__arrow {

		position: relative;
		background: $dim;
		flex: 0 3rem;

		&--disabled {

			a {

				cursor: not-allowed;
			}

			i {

				opacity: .2;
			}
		}

		a {

			text-decoration: none;
			@extend %size-fill-parent;
			opacity: .5;

			&:hover {

				opacity: 1;
			}

			i {

				font-size: 2rem;
				display: table;

				@extend %center;
			}
		}
	}

	&__content {

		position: relative;
		flex: 1 auto;
		width: initial;
		background: $dim-dark;

		overflow: hidden;
	}
}

.state-navigation {

	position: absolute;
	top: 0;
	height: 100%;
	background: none;
	border: 0;
	padding: 0 $space;

	will-change: transform;
	transition: transform .2s ease;
	color: $black;

	&:focus {

		outline: 0;
	}

	@include media(not-ipad) {

		&:hover {

			transform: scale(1.5);
		}
	}

	&:active {

		transform: scale(1.5);
	}

	&--disabled {

		opacity: .2;
		cursor: not-allowed;

		&:hover {

			transform: none;
		}
	}

	&--left {

		left: 0;
	}

	&--right {

		right: 0;
	}
}

.slider-nav {

	position: absolute;
	top: 0;
	@extend %fullsize;

	text-align: center;

	&__page-nav {
		.slider-nav--right {
			right: 16px;
		}
	}

	&__arrow {

		position: absolute;
		top: 0;
		width: $space * 3;
		height: 100%;

		border-radius: 0;
		background: none;

		color: $black;

		font-family: 'icomoon';
		font-size: 2rem;

		z-index: 60;
		transition: background 100ms linear;

		@include media(not-ipad) {

			&:hover {

				background: rgba(0, 0, 0, 0.2);
			}
		}

		&:active,
		&:hover {

			background: rgba(0, 0, 0, 0.4);
		}

		&--left {

			left: 0;
		}

		&--right {

			right: 0;
		}
	}
}

.nav--slider {

	&,
	.go {

		height: 100%;
	}

	.go {

		position: fixed;
		border-radius: 0;
		cursor: pointer;
		z-index: 400;
		background: rgba(0,0,0,0);

		@include media(not-ipad) {

			&:hover {

				background: rgba(0,0,0,.1);
			}
		}

		&:active {

			background: rgba(0,0,0,.2);
		}

		&--disabled {

			pointer-events: none;
			cursor: not-allowed;
			opacity: 0;
		}

		i {

			color: black;

			&:before {

				font-size: 2rem;
			}
		}

		&--prev {

			left: 0;
		}

		&--next {

			right: 0;
		}
	}
}