button,
%button,
%button--dark,
.button--dark,
.button {

	display: inline-block;
	padding: $space-half $space;
	border-radius: 4px;

	background: lighten($black, 16%);
	color: darken(white, 17%);

	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;

	transition: all .2s ease;

	&.ng-animate {

		transition: none;
	}

	&:hover {

		background: lighten($black, 6%);
	}

	&:active {

		background: $black;
	}

	&--important {

		background: $color-red;

		&:hover,
		&:active {

			background: darken($color-red, 10%);
		}
	}

	&--blue {

		background: $color-blue;

		&:hover,
		&:active {

			background: darken($color-blue, 10%);
		}
	}

	&--green {

		background: darken($color-green, 10%);
		color: white;

		&:hover {

			background: darken($color-green, 17%);
		}

		&:active {

			background: darken($color-green, 23%);
		}
	}

	&--orange {

		background: $color-orange;

		&:hover,
		&:active {

			background: darken($color-orange, 10%);
		}
	}
}

%button--light,
.button--light {

	background: darken(white, 5%);
	color: lighten($black, 25%);
	// border: 1px solid darken(white, 14%);

	&:hover,
	&:active {

		color: lighten($black, 5%);
	}

	&:hover {

		background: darken(white, 16%);
	}

	&:active {

		background: darken(white, 20%);
	}
}
