.u-hide,
[u-hide] {

	display: none;
}

.u-center,
[u-center] {

	@extend %center;
}

.u-relative,
[u-relative] {

	position: relative;
}

.u-no-margin,
[u-no-margin] {

	margin: 0 !important;
}

.u-txt-left,
[u-txt-left] {

	text-align: left;
}

.u-txt-center,
[u-txt-center] {

	text-align: center;
}

.u-txt-right,
[u-txt-right] {

	text-align: right;
}

.u-radius,
[u-radius] {

	border-radius: $border-radius;
}

.u-debug {

	position: fixed;
	z-index: 999999999;
	pointer-events: none;
	border-radius: $border-radius;
	margin: $space;
	padding: $space;

	span {

		font-weight: bold;
	}
}

.u-space-top,
[u-space-top] {

	margin-top: $space;
}

.u-space-right,
[u-space-right] {

	margin-right: $space;
}

.u-space-bottom,
[u-space-bottom] {

	margin-bottom: $space;
}

.u-space-left,
[u-space-left] {

	margin-left: $space;
}

.u-no-overflow,
[u-no-overflow] {

	@extend %no-overflow;
}

.preview-ajax-box-loader {
	position: absolute;
	top: 0;
	bottom: 0%;
	left: 0;
	right: 0%;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 99;
	display: none;
	text-align: center;
	width: 100%;
	padding-top: 25px;
	margin: auto;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.clearfix {
	&:before, &:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}

	*zoom: 1;
}