// map size
$map-width: 1440px;
$map-height: 1046px;

// definition's size
$w: 310px;

// arrow
$offset-arrow: 200px;

// typography
$font-size-h1: 1.2rem;
$padding-h1-top: $space;
$padding-h1-bottom: $space + 0.45rem;
$dickbutt: .05rem;

// headers' sizes
$h-h1: ($padding-h1-top + $padding-h1-bottom + $font-size-h1);
$h-h1-two-lines: 164px;

// borders' sizes
$border-w: 2px;

// vignette
html.map-new {

  &,
  body {

    overflow: hidden;
    height: 100%;
  }

  body {

    position: relative;
    background: $black;

    opacity: 0;
    transform: translate3d(0,0,0) scale(1.3);


    &.loaded {

      transition: opacity .3s ease-out .6s,
                  transform .3s ease-out .6s;
      opacity: 1;
      transform: translate3d(0,0,0) scale(1);
      will-change: opacity, transform;
    }
  }

  button {

    text-transform: none;
  }
}

html.map-new .map-wrapper {

  height: 100%;
}

html.map-new .intro {

  position: relative;
  z-index: 1;
  width: $text-column-fallback;
  width: $text-column;
  // margin-top: -10rem;

  padding: $space-and-half;
  background: rgba(255,255,255,.5);
  background: white;

  h2 {

    margin-top: 0;
  }
}

html.map-new .image {

  position: absolute;
  top: 50%;
  left: 50%;

  background-image: url(../images/min/map.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  transform-origin: center center;
  transform: translate3d(0, 0, 0) scale(.75);

  transition: transform .3s ease .1s;

  z-index: 1;

  @include media(highdpi) {

    background-image: url(../images/min/map@2x.jpg);
  }

  &--svg {

    background-image: url("../images/map.svg");

    @include media(highdpi) {

      background-image: url("../images/map.svg");
    }
  }

  &[class*="remove-active"] {

    will-change: transform;
  }

  .definition {

    transition: opacity .3s ease 1s;
  }

  &--zoomed {

    .definition {

      will-change: opacity;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease 0s;

      z-index: -1;
    }

    .definition--active {

      visibility: visible;
      opacity: 1;

      z-index: 2;
    }
  }

  &__scale-reset {

    @include square(999rem);
    @include center;

    pointer-events: none;

    &--zoomed-in {

      cursor: zoom-out;
      z-index: 30;

      pointer-events: auto;
    }
  }
}

html.map-new .mask {

  &--1,
  &--2 {

    @include size(140vw, 140vh);
    @extend %center;
    margin-left: -17.5vw;
    position: fixed;

    pointer-events: none;
    z-index: 1;

    opacity: 0;
  }

  &--1 {

    background-image: radial-gradient(
      circle,
      rgba(255,255,255,0) 0%,
      // rgba(255,255,255,.3) 20%,
      rgba(255,255,255,.6) 25%,
      // rgba(255,255,255,.2) 5%,
      // rgba(255,255,255,.6) 12%,
      // rgba(255,255,255,1) 40%,
      rgba(255,255,255,1) 100%);

    mix-blend-mode: color;
  }

  &--2 {

    background-image: radial-gradient(
      circle,
      rgba(0,0,0,0) 0%,
      // rgba(0,0,0,.5) 27%,
      // rgba(0,0,0,.2) 5%,
      // rgba(0,0,0,.6) 12%,
      rgba(0,0,0,1) 50%,
      rgba(0,0,0,1) 100%);
    mix-blend-mode: darken;
  }

  &--active,
  &--active-add {

    > * {

      transition: opacity .3s ease .55s;
    }

    .mask--1 {

      opacity: 1;
    }

    .mask--2 {

      opacity: .5;
    }
  }
}

html.map-new .aside {

  position: fixed;
  top: 0;
  right: 0;
  @include size(35%, 100%);
  z-index: 40;
  color: $black;
  padding: 0 $space-and-half $space;

  visibility: hidden;

  opacity: 0;
  clip: rect(0 900px 0 900px);

  color: $black;

  h1,
  &__scroll-container {

    // max-width: $text-column-fallback / 1.5;
    // max-width: $text-column / 1.5;
    max-width: 340px;
    margin: 0 auto;
    text-align: left;
  }

  h1 {

    height: 20vh;
    line-height: 1;
    font-size: 4vw;

    @extend %column;
    justify-content: center;

    @media(max-width: 730px) {

      font-size: 30px;
    }
  }

  p:first-child { margin-top: 0; }

  &__bg {

    @extend %size-fill-parent;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
  }

  &--active {

    visibility: visible;
    opacity: 1;
    clip: rect(0 900px 2000px 0);

    will-change: transform, clip;
    transition: clip .7s ease-out 1s;
  }

  &__scroll-container {

    overflow-y: auto;
    height: calc(80vh - #{$space});
    padding-right: $space;
    color: $black;

    .toggle-button {

      margin-top: $space;
    }
  }
}

html.map-new .toggle {

  position: fixed;
  z-index: 9999;
  left: $space;

  &--definition {

    bottom: $space;
  }

  &--intro {

    bottom: $space + 3rem;
  }

  label {

    cursor: pointer;
    background-color: rgba(0, 0, 0, .4);

    &.ng-animate {

      transition: none;
    }
  }
}

html.map-new .definition {

  left: 50%;
  top: 50%;
  transform-style: flat;

  &.ng-hide {

    opacity: 0;
    z-index: -1;
    transition-delay: 0s;
  }

  &.ng-hide-remove {

    transition-delay: 0s;
  }

  &,
  > * {

    position: absolute;
    transform-origin: left top;
  }

  > * {

    top: 0;
    left: 0;
  }

  &__label {

    background-color: $white;
    display: table;
    z-index: 100;
    position: absolute;

    opacity: 1;
    border: $border-w solid $black;
    color: $black;

    transform-origin: right top;

    &--hidden {

      transform: translate(-100px, -100px) scale(0) !important;
    }

    &.ng-animate {

      z-index: 9999;
    }

    &:not(.definition__label--active) {

      cursor: pointer;
    }
  }

  &__pointer {

    pointer-events: none;

    &__line {

      transform: translate(-97px, -97px) scale(1, 1);

      &--hidden {

        transform: scale(0, 0) !important;
      }
    }

    &__dot {

      &,
      &:after {

        @include circle(30px);
      }

      background: $black;
      position: absolute;

      top: -15px;
      left: -15px;
      transform-origin: center center;

      &__pulse-dot,
      &:after {

        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.8);
        background: white;
      }

      &__pulse-dot {

        @include square(330px);
        background: none;
        transform: translate3d(-50%, -50%, 0);
        z-index: -1;

        &:after {

          content: "";
          @include circle(330px);
          @extend center;
          background: rgba(255,255,255,.5);
          transform: scale(.07);
        }
      }
    }

    &--active {

      .definition__pointer__dot {

        transform: scale(.5);
      }

      .definition__pointer__dot__pulse-dot:after {

        animation: puls .45s ease-out 2 alternate;
        animation-delay: .85s;

        will-change: transform, opacity;
      }
    }
  }

  &--left-top {

    .definition__label {

      transform-origin: right top;
      top: -98px;
      right: 93px;
      left: initial;
    }
  }

  &--right-top {

    .definition__pointer__line {

      transform: scale(1, -1);
      transform-origin: left top;
    }

    .definition__label {

      transform-origin: left top;
      top: -101px;
      left: 96px;
    }
  }

  &--left-bottom {

    .definition__pointer__line {

      transform: scale(-1, 1);
      transform-origin: left top;
    }

    .definition__label {

      transform-origin: right top;
      top: 95px;
      right: 95px;
      left: initial;
    }
  }

  &--right-bottom {

    .definition__pointer__line {

      transform: scale(1, 1);
      transform-origin: left top;
    }

    .definition__label {

      transform-origin: left top;
      top: 95px;
      left: 95px;
    }
  }
}

html.map-new .nav {

  background-blend-mode: color;

  &--hidden {

    background: transparent;

    visibility: hidden;
    opacity: 0;

    transition: opacity .2s ease;

    > figure {

     opacity: 0;
     transition-duration: .1s;
     transition-delay: 0 !important;
   }
  }

  @extend %row-wrap;
  flex-direction: row-reverse;
  position: fixed;
  width: 65%;
  left: 0;
  top: 0;
  padding-right: $space / 2;

  visibility: visible;
  opacity: 1;

  // mix-blend-mode: soft-light;
  z-index: 30;

  &__item {

    flex: 0 0 auto;
    order: 1;
    text-align: center;
    margin: ($space / 2) 0 0 ($space / 2);

    will-change: opacity;
    opacity: 1;
    transition: opacity .15s ease-in;

    @for $i from 2 through 40 {

      &:nth-child(#{$i}) {

        transition-delay: .8s * ($i * 0.13);
      }
    }

    button {

      width: 100%;
      height: 100%;

      font-size: 13px;
      font-weight: bold;


      color: $white;
      background-color: rgba(0, 0, 0, .4);
      border: 2px solid $black;

      transition: background-color .2s ease;

      @include media(not-ipad) {

        &:hover {

          background-color: rgba(255, 255, 255, 0.4);
          color: $black;
          will-change: background-color;
        }
      }

      &:active {

        background-color: rgba(255, 255, 255, 0.4);
        will-change: background-color;
      }
    }

    &--active {

      button {

        background-color: white;
        color: $black;
        will-change: background-color, color;

        &:hover {

          background-color: white;
          color: $black;
        }

        // position: relative;
        // text-indent: -999rem;

        /* &:after {

          content: "";
          @include circle(10px);
          @extend %center;
          background: $black;
        } */
      }
    }
  }
}

html.map-new .gallery {

  position: fixed;
  width: 65%;
  height: 100%;
  background: $black;
  overflow: hidden;

  z-index: 50;

  visibility: visible;
  opacity: 1;
  transform: scale3d(1,1,1);
  transition: all .45s ease-in-out;
  will-change: transform;

  // ng-scope ng-animate ng-hide-animate ng-hide-add ng-hide ng-hide-add-active
  // ng-scope ng-animate ng-hide-animate ng-hide-remove ng-hide-remove-active

  // gallery ng-scope ng-animate ng-hide-animate ng-hide-add ng-hide ng-hide-add-active

  &.ng-hide {

    visibility: hidden;
    opacity: 0;
    transform: scale(1.05);
  }

  &.ng-hide-add-active.ng-hide-add,
  &.ng-hide-remove-active.ng-hide-remove {

    will-change: opacity;
  }

  .gallery-wrapper {

    display: flex;
    flex-flow: row nowrap;
    height: 100%;

    transition: transform .2s ease-out .05s;

    &__item {

      position: relative;
      flex: 0 0 100%;

      img {

        @extend %center;
        margin-top: -20px;
        display: table;
        width: 50vw;
        height: 90vh;
        object-fit: contain;
      }
    }
  }

  .gallery-controls {

    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    &__item {

      @include circle(26px);
      background: $white;
      color: $white;
      text-align: center;
      margin-bottom: $space;
      opacity: .4;
      color: $black;
      text-indent: 1px;
      font-weight: bold;

      &:not(.gallery-controls__item--active):hover {

        opacity: .75;
      }

      cursor: pointer;

      &--active {

        opacity: 1;
      }

      &:not(:last-child) {

        margin-right: $space;
      }
    }
  }
}

html.map-new .u-debug {

  mix-blend-mode: darken;
  opacity: .8;
  color: red;
}

@keyframes puls {

  0% {

    transform: scale(0);
    opacity: 0;
  }

  60% {

    transform: scale(1);
    opacity: 1;
  }

  80% {

    transform: scale(1);
    opacity: .3;
  }

  100% {

    transform: scale(1);
    opacity: 0;
  }
}
