html.map-punkty {

  &,
  body {

    overflow: hidden;
    height: 100%;
  }

  body {

    position: relative;
    background: $black;

    opacity: 0;
    transform: translate3d(0,0,0) scale(1.3);

    &.loaded {

      transition: opacity .3s ease-out .6s,
                  transform .3s ease-out .6s;
      opacity: 1;
      transform: translate3d(0,0,0) scale(1);
      will-change: opacity, transform;
    }
  }
}

html.map-punkty .map-wrapper {

  height: 100%;
}

html.map-punkty .image {

  position: absolute;
  top: 50%;
  left: 50%;

  background-image: url(../images/map-all.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transform-origin: center center;
  transform: translate3d(0, 0, 0) scale(.75);

  transition: transform .3s ease .1s;

  z-index: 1;

  // @include media(highdpi) {
  //
  //   background-image: url(../images/min/map@2x.jpg);
  // }

  &--svg {

    background-image: url("../images/map.svg");

    @include media(highdpi) {

      background-image: url("../images/map.svg");
    }
  }

  &[class*="remove-active"] {

    will-change: transform;
  }

  .definition {

    transition: opacity .3s ease 1s;
  }

  &--zoomed {

    .definition {

      will-change: opacity;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease 0s;

      z-index: -1;
    }

    .definition--active {

      visibility: visible;
      opacity: 1;

      z-index: 2;

      .definition__pointer__dot:before {

        // display: none;
      }
    }
  }

  &__scale-reset {

    @include square(4000px);
    @include center;

    pointer-events: none;

    &--zoomed-in {

      cursor: zoom-out;
      z-index: 999990;

      pointer-events: auto;
    }
  }
}

html.map-punkty .aside {

  position: fixed;
  top: 0;
  right: 0;
  @include size(35%, 100%);
  z-index: 40;
  color: $black;
  padding: 0 $space-and-half $space;

  visibility: hidden;

  opacity: 0;
  clip: rect(0 900px 0 900px);

  color: $black;

  &:before {

    content: "";
    position: absolute;
    @include size(1px, 100%);
    background: $black;
    left: 0;
    transform-origin: left center;
    transform: scaleX(.25);
  }

  h2,
  &__scroll-container {

    // max-width: $text-column-fallback / 1.5;
    // max-width: $text-column / 1.5;
    max-width: 340px;
    margin: 0 auto;
    text-align: left;
  }

  h2 {

    height: 18vh;
    line-height: 1;
    font-size: 3vw;

    @extend %column;
    justify-content: center;

    @media(max-width: 730px) {

      font-size: 30px;
    }

    @media(min-width: 1230px) {

      font-size: 40px;
    }
  }

  p:first-child { margin-top: 0; }

  &__bg {

    @extend %size-fill-parent;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
  }

  &--active {

    visibility: visible;
    opacity: 1;
    clip: rect(0 900px 2000px 0);

    will-change: transform, clip;
    transition: clip .4s ease-out .45s;
  }

  &__scroll-container {

    overflow-y: auto;
    height: calc(82vh - #{$space});
    padding-right: $space;
    color: $black;

    .toggle-button {

      margin-top: $space;
    }
  }

  &__image-description {

    opacity: .7;
    font-size: $font-size-small-2;
    transition: opacity .2s ease;

    &.ng {

      &-animate {

        will-change: opacity;
      }

      &-enter,
      &-enter-active {

        opacity: .7;
      }

      &-leave,
      &-leave-active {

        opacity: 0;
        display: none;
      }
    }
  }
}
