body.przyroda {

  main,
  video {

    @extend %fullscreen;
  }

  iframe {

    @include size(100%, 100vh);
  }

  article {

    background: $white;
  }

  .slider__item {

    position: relative;

    &--iframe {

      -webkit-overflow-scrolling: touch;
      overflow: scroll;
    }
  }
}
