@import url(http://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext);

body.tryb-narracyjny {

	header,
	h1,
	h3 {

		font-family: 'Playfair Display', serif;
	}

	header {

		background-position: center bottom 100px;
		height: calc(100vh - 440px);
	}

	section {

		position: relative;
		background-color: white;
		z-index: 2;
		margin-top: $space-double * 2;
		margin-bottom: $space-double * 2;

		.wrapper > h1:first-child {

			margin-top: 0;
		}
	}
}
