// typography
$font-size-h1: 1.2rem;
$padding-h1-top: $space;
$padding-h1-bottom: $space + 0.45rem;
$dickbutt: .05rem;

// headers' sizes
$h-h1: ($padding-h1-top + $padding-h1-bottom + $font-size-h1);
$h-h1-two-lines: 164px;

// borders' sizes
$border-w: 2px;

// vignette
html.gra-o-grecji {

  &,
  body {

    overflow: hidden;
    height: 100%;
    background: hsl(100, 50%, 50%);
  }

  body {

    > .loader {

      @extend %center;

      transform: scale(2);
      opacity: 1;

      will-change: transform, opacity;
      transition: transform .2s ease-out, opacity .2s ease-out;
      color: white;

      &:before {

        @extend %center;
        font-size: 5rem;
      }
    }

    > .main-content {

      width: 100%;
      height: 100%;
      position: absolute;
      pointer-events: none;

      transform: scale(2);
      opacity: 0;

      will-change: transform, opacity;
      transition: transform .3s ease-out, opacity .3s ease-out
    }

    &.loaded {

      > .loader {

        transform: scale(0);
        opacity: 0;
      }

      > .main-content {

        transform: scale(1);
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  button {

    text-transform: none;
  }
}

html.gra-o-grecji .map-wrapper {

  height: 100%;
}

html.gra-o-grecji .intro {

  position: relative;
  z-index: 1;
  width: $text-column-fallback;
  width: $text-column;

  padding: $space-and-half;
  background: rgba(255,255,255,.5);
  background: white;

  h2 {

    margin-top: 0;
  }
}

html.gra-o-grecji .image {

  position: absolute;
  top: 50%;
  left: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transform-origin: center center;
  transform: translate3d(0, 0, 0) scale(.75);

  transition: transform .3s ease .1s;

  z-index: 0;

  &[class*="remove-active"] {

    will-change: transform;
  }

  .svg {

    @extend %accelerate;

    .item {

      rect,
      rect[id*="Rectangle"],
      path,
      g {

        // transition: fill .2s ease-out;
      }

      &--active {

        rect,
        rect[id*="Rectangle"],
        path,
        g {

          fill: white;
          // stroke: white;
          will-change: fill;
        }
      }
    }
  }

  .definition {

    transition: opacity .3s ease 1s;
  }

  &--zoomed {

    .definition {

      will-change: opacity;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease 0s;

      z-index: -1;
    }

    .definition--active {

      visibility: visible;
      opacity: 1;

      z-index: 2;

      .definition__pointer__dot:before {

        // display: none;
      }
    }
  }

  &__scale-reset {

    @include square(4000px);
    @include center;

    pointer-events: none;

    &--zoomed-in {

      cursor: zoom-out;
      z-index: 999990;

      pointer-events: auto;
    }
  }
}

html.gra-o-grecji .main,
html.gra-o-grecji .toggle {

  display: none;

  &--loaded {

    display: block;
  }
}

html.gra-o-grecji .gallery-wrapper__item {

  &--agora {

    background: url(../svg/_agora.svg) no-repeat center center;
  }
  &--akropol {

    background: url(../svg/_akropol.svg) no-repeat center center;
  }
  &--teatr {

    background: url(../svg/_teatr.svg) no-repeat center center;
  }
  &--gimnazjon {

    background: url(../svg/_gimnazjon.svg) no-repeat center center;
  }
}

html.gra-o-grecji .gallery {

  margin: 0;
  position: fixed;
  width: 65%;
  height: 100%;
  overflow: hidden;
  background: lighten($gray-dark, 20%);

  z-index: 50;

  visibility: visible;
  opacity: 1;
  transition: none;
  will-change: transform, opacity;


  &.ng-hide {

    visibility: hidden;
    opacity: 0;
    transform: scale(1.05);
  }

  &[class*="--active"] {

    transition: all .45s ease-in-out 1s;
  }

  &.ng-hide-add-active.ng-hide-add,
  &.ng-hide-remove-active.ng-hide-remove {

    will-change: opacity, transform;
  }

  .gallery-wrapper {

    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    @extend %accelerate;

    &__item,
    &__item figure {

      transition: opacity .25s ease-out .1s;

      &.ng {

        &-animate {

          will-change: opacity;
        }

        &-show,
        &-show-active {

          opacity: 1;
          // z-index: 1;
        }

        &-hide,
        &-hide-active {

          opacity: 0;
        }
      }
    }


    &__item {

      &,
      & > figure {

        height: 100%;
      }

      figure {

        figcaption {

            position: absolute;
            bottom: $space;
            width: 100%;

            text-align: center;
            color: white;
            font-size: $font-size-small-2;
            opacity: .5;
        }

        img {

          @extend %center;
          display: table;
          width: 50vw;
          height: 90vh;
          object-fit: contain;
        }

        &.has-gallery img {

            height: 80vh;
            margin-top: -$space;
        }

        audio {

          @extend %center;
          width: 50% * $phi;

          &.top {

            top: initial;
            bottom: $space-double;
          }
        }
      }
    }
  }

  .gallery-controls {

    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    &__item {

      @include circle(26px);
      background: $white;
      color: $white;
      text-align: center;
      margin-bottom: $space;
      opacity: .4;
      color: $black;
      text-indent: .05rem;
      font-weight: bold;

      &:not(.gallery-controls__item--active):hover {

        opacity: .75;
      }

      cursor: pointer;

      &--active {

        opacity: 1;
      }

      &:not(:last-child) {

        margin-right: $space;
      }
    }
  }
}

html.gra-o-grecji .aside {

  position: fixed;
  top: 0;
  right: 0;
  @include size(35%, 100%);
  z-index: 40;
  color: $black;
  padding: 0 $space-and-half $space;
  overflow: hidden;

  visibility: hidden;

  opacity: 0;
  clip: rect(0 900px 0 900px);

  color: $black;

  &:before {

    content: "";
    position: absolute;
    @include size(1px, 100%);
    background: $black;
    left: 0;
    transform-origin: left center;
    transform: scaleX(.25);
  }

  button {

    @extend %button--light;
    font-size: $font-size-small-2;
  }

  h2,
  &__scroll-container {

    // max-width: $text-column-fallback / 1.5;
    // max-width: $text-column / 1.5;
    max-width: 340px;
    margin: 0 auto;
    text-align: left;
  }

  h2 {

    height: 18vh;
    line-height: 1;
    font-size: 3vw;

    @extend %column;
    justify-content: center;

    @media(max-width: 730px) {

      font-size: 30px;
    }

    @media(min-width: 1230px) {

      font-size: 40px;
    }
  }

  p:first-child { margin-top: 0; }

  &__bg {

    @extend %size-fill-parent;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
  }

  &--active {

    visibility: visible;
    opacity: 1;
    clip: rect(0 900px 2000px 0);

    will-change: transform, clip;
    transition: clip .4s ease-out .45s;
  }

  &__scroll-container {

    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: calc(82vh - #{$space});
    padding-right: $space;
    color: $black;

    p:last-child {

      margin-bottom: 0;
    }
  }

  &__image-description {

    opacity: .7;
    font-size: $font-size-small-2;
    transition: opacity .2s ease;

    &.ng {

      &-animate {

        will-change: opacity;
      }

      &-enter,
      &-enter-active {

        opacity: .7;
      }

      &-leave,
      &-leave-active {

        opacity: 0;
        display: none;
      }
    }
  }

  audio {

    margin-bottom: $space;
  }
}

html.gra-o-grecji .toggle {

  position: fixed;
  z-index: 9999;
  left: $space;
  transform: translateY(0);
  opacity: 1;

  transition: all .2s ease-in-out 1.5s;

  &.ng-hide {

    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);

    transition: none;
  }

  &.ng-hide-add-active.ng-hide-add,
  &.ng-hide-remove-active.ng-hide-remove {

    will-change: opacity, transform;
  }

  &--definition {

    top: $space;
  }

  &--intro {

    bottom: $space + 3rem;
  }

  label {

    cursor: pointer;

    &.ng-animate {

      transition: none;
    }
  }
}

html.gra-o-grecji .definition {

  left: 50%;
  top: 50%;
  transform-style: flat;

  &.ng-hide {

    opacity: 0;
    z-index: -1;
    transition-delay: 0s;
  }

  &.ng-hide-remove {

    transition-delay: 0s;
  }

  &,
  > * {

    position: absolute;
    transform-origin: left top;
  }

  > * {

    top: 0;
    left: 0;
  }

  &__label {

    background-color: $white;
    display: table;
    z-index: 100;
    position: absolute;

    opacity: 1;
    border: $border-w solid $black;
    color: $black;

    transform-origin: right top;

    &--hidden {

      transform: translate(-100px, -100px) scale(0) !important;
    }

    &.ng-animate {

      z-index: 9999;
    }

    &:not(.definition__label--active) {

      cursor: pointer;
    }
  }

  &__pointer {

    &__line {

      transform: translate(-97px, -97px) scale(1, 1);

      &--hidden {

        transform: scale(0, 0) !important;
      }
    }

    &__dot {

      $w: 500px;
      $h: 270px;

      position: absolute;

      top: - $h / 2;
      left: - $w / 2;
      transform-origin: center center;

      cursor: pointer;
      opacity: .5;

      &,
      &:after {

        @include size($w, $h);
      }

      &:before {

        content: "";
        position: absolute;
        @include circle(10px);
        @extend %center;
        font-weight: bold;
        z-index: 1;
      }

      &:after {

        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.9);
      }

      &--debug {

        &:before {
          background: red;
        }

        &:after {

          background: white;
        }
      }
    }
  }

  &--left-top {

    .definition__label {

      transform-origin: right top;
      top: -98px;
      right: 93px;
      left: initial;
    }
  }

  &--right-top {

    .definition__pointer__line {

      transform: scale(1, -1);
      transform-origin: left top;
    }

    .definition__label {

      transform-origin: left top;
      top: -101px;
      left: 96px;
    }
  }

  &--left-bottom {

    .definition__pointer__line {

      transform: scale(-1, 1);
      transform-origin: left top;
    }

    .definition__label {

      transform-origin: right top;
      top: 95px;
      right: 95px;
      left: initial;
    }
  }

  &--right-bottom {

    .definition__pointer__line {

      transform: scale(1, 1);
      transform-origin: left top;
    }

    .definition__label {

      transform-origin: left top;
      top: 95px;
      left: 95px;
    }
  }
}

html.gra-o-grecji .aside__scroll-container {

  > div {

    @extend %accelerate;
  }

  .current-state {

    position: absolute;

    width: 100%;
    background: white;

    opacity: 0;
    transform: translateX(100%);

    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove.ng-hide-remove-active {

      will-change: opacity, transform;
    }

    &--active {

      opacity: 1;
      transform: translateX(0);
    }

    &.ng-hide-remove.ng-hide-remove-active {

      opacity: 1;
      transform: translateX(0);

      transition: opacity .5s ease-in-out,
                  transform .5s ease-in-out;
    }

    &.ng-hide-add.ng-hide-add-active {

      opacity: 0;
      transform: translateX(-150%);

      transition: opacity .25s ease-in-out,
                  transform .25s ease-in-out;
    }

    &.ng-hide {

      transform: translateX(50%);
    }

    &--going-back {

      &.ng-hide-add.ng-hide-add-active {

        opacity: 0;
        transform: translateX(50%);

        transition: opacity .25s ease-in-out,
                    transform .25s ease-in-out;
      }

      &.ng-hide {

        transform: translateX(-150%);
      }
    }

    form {

      position: relative;
      padding: $space-double 0 $space-and-half;

      &:before {

        content: "";
        position: absolute;
        @include size(100%, 1px);
        top: $space-double / 1.8;

        background: $black;
        transform: scaleY(.5);
        opacity: .5;
      }

      figure {

        font-size: $font-size-small-2;
        position: relative;

        &:not(:last-child) {

          margin-bottom: $space-and-half;
        }

        .label {

          position: relative;
          top: 9px;
          display: inline-block;
          // padding: $space / 2 $space $space / 2 $space * 2.2;
          padding-left: $space * 3.2;
          // opacity: .65;

          &:hover {

            opacity: 1;
          }
        }

        button {

          position: absolute;
          left: 0;
          top: 0;
          z-index: 10;
        }
      }
    }

    .button-wrapper {

      // .button--back {

      //   float: left;
      // }

      // .button--next {

      //   float: right;
      // }

      // margin-top: $space-double;

      .button {

        transition: opacity 15s ease;

        &.ng-hide {

          opacity: 0;
        }

        &.ng-hide-add.ng-hide-add-active,
        &.ng-hide-remove.ng-hide-remove-active {

          transition: opacity .5s ease;
        }

        &.ng-hide-remove.ng-hide-remove-active {

          opacity: 1;
          transition-delay: 0s;
        }

        &.ng-hide-add.ng-hide-add-active {

          opacity: 0;
          transition-delay: 0s;
        }

        &--back.ng-hide-add.ng-hide-add-active {

          transition: none;
        }

        &--back.ng-hide-remove.ng-hide-remove-active {

          transition: opacity .5s ease .6s;
        }
      }
    }
  }
}

// html.gra-o-grecji .clouds {

//   position: fixed;
//   top: 0;
//   left: 0;
//   @include size(11349px, 800px);
//   background-image: url(../images/clouds@2x.png);
//   background-size: 11349px 800px;
//   z-index: 999;
//   pointer-events: none;
//   opacity: .3;
//   transform: translateX(0);

//   will-change: transform;
//   transition: transform 12s linear;

//   animation: grecja-clouds 60s linear infinite;
// }

html.gra-o-grecji .u-debug {

  bottom: 0;
  color: white;
  pointer-events: initial;
}

@keyframes grecja-clouds {

  0% {

    transform: translateX(0);
  }

  100% {

    transform: translateX(-11349px);
  }
}
