.fullscreen {

	&:-webkit-full-screen {

		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		// justify-content: center;
		// align-items: center;
		overflow-y: auto;

		> * {

			display: table;
		}
	}
}
