// Narazie korzystamy z lightboxa.
// @todo Trzeba przenieść style tutaj a ikony zaembedować w fonta.

.image-link {
	display: block;
	max-width: 100%;
	img {
		display: block;
        margin: auto;
	}
}
.constitution-img {
	height: $space * 9;
	float: right;
	margin-top: $space * -1.5;
}
