html.parallax .parallax {

  &-container {

    position: relative;
    width: 100vw;
    margin: 0 auto;
    @extend %no-overflow;

    &__layer {

      @extend %fullscreen;

      > svg {

        @extend %center;
        @extend %accelerate;
        // height: 130vh;
        width: 130vw;

      }

      &.ludek {

        [class*="ludek--"] {

          animation-duration: 3s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }

        [class*="ludek--1"] {

          animation-name: hello-1;
          animation-delay: 2s;
        }

        [class*="ludek--2"] {

          animation-name: hello-2;
          animation-delay: .5s;
        }

        [class*="ludek--3"] {

          animation-name: hello-3;
          animation-delay: -2s;
        }

        [class*="ludek--4"] {

          animation-name: hello-4;
          animation-delay: 1.8s;
        }

        [class*="ludek--5"] {

          animation-name: hello-5;
          animation-delay: 2.2s;
        }

        [class*="ludek--6"] {

          animation-name: hello-6;
          animation-delay: 5.2s;
        }
      }

      &.namiot {

        [id*="namiot--"] {

          animation-duration: 3s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }

        [id*="namiot--1"] {

          animation-name: float-1;
          animation-delay: 2s;
        }

        [id*="namiot--2"] {

          animation-name: float-2;
          animation-delay: .5s;
        }

        [id*="namiot--3"] {

          animation-name: float-3;
          animation-delay: -2s;
        }

        [id*="namiot--4"] {

          animation-name: float-4;
          animation-delay: 1.8s;
        }

        [id*="namiot--5"] {

          animation-name: float-5;
          animation-delay: 2.2s;
        }

        [id*="namiot--6"] {

          animation-name: float-6;
          animation-delay: 5.2s;
        }

        [id*="namiot--7"] {

          animation-name: float-7;
          animation-delay: 1.4s;
        }

        [id*="namiot--8"] {

          animation-name: float-8;
          animation-delay: 0.8s;
        }
      }

      &.oczy {

        .oczy-otwarte {

          animation: oczy-zamykanie 3s ease-out infinite alternate;
        }

        .oczy-zakmniete {

          animation: oczy-otwieranie 3s ease-out infinite alternate;
        }

        &--1 {

          .oczy-zakmniete,
          .oczy-otwarte {

            animation-delay: 2s;
          }
        }

        &--2 {

          .oczy-zakmniete,
          .oczy-otwarte {

            animation-delay: 3.1s;
          }
        }

        &--3 {

          .oczy-zakmniete,
          .oczy-otwarte {

            animation-delay: .5s;
          }
        }
      }

      &.dyndanie {

        .movable {

          transform-origin: center top;
          animation: dyndanie 1s ease-in-out infinite alternate;
        }

        .lampa {

          animation-delay: .2s;
        }

        .atom--2 {

          animation-delay: .3s;
        }
      }

      &.dyndanie-puzzli {

        .puzzle {

          animation: dyndanie-puzzli 1s ease-in-out infinite alternate;

          &--1 {

            transform-origin: 1025px top;
            animation-delay: .2s;
          }

          &--2 {

            transform-origin: left top;
            animation-delay: -.52s;
          }
        }
      }
    }

    @include media(not-ipad) {

      // &--disable-animations figure,
      &--disable-animations figure {

        transition: transform .3s ease;
        transform: translate3d(0, 0, 0) !important;

        svg g {

          animation: none !important;
        }
      }
    }
  }
}

html.parallax {

  @extend %no-overflow;

  &--przyladek {

    body {

      background: #FBF6F0;

      i.bg {

        @extend %fullscreen;
        position: absolute;
        top: 50vh;

        background: #F3CD62;
        z-index: -1;
      }

      svg {

        // height: 130vh;
      }
    }
  }
}

html.parallax.firefox {

  svg g {

    animation: none !important;
  }
}

@keyframes hello-1 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-100px);
  }
}

@keyframes hello-2 {

  from {

    transform: translateX(0);
  }

  to {

    transform: translateX(-100px);
  }
}

@keyframes hello-3 {

  from {

    transform: translateX(0);
  }

  to {

    transform: translateX(100px);
  }
}

@keyframes hello-4 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-100px);
  }
}

@keyframes hello-5 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(100px);
  }
}

@keyframes hello-6 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(100px);
  }
}

@keyframes float-1 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-10px);
  }
}

@keyframes float-2 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-10px);
  }
}

@keyframes float-3 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-20px);
  }
}

@keyframes float-4 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-20px);
  }
}

@keyframes float-5 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-30px);
  }
}

@keyframes float-6 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-30px);
  }
}

@keyframes float-7 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-40px);
  }
}

@keyframes float-8 {

  from {

    transform: translateY(0);
  }

  to {

    transform: translateY(-40px);
  }
}

@keyframes oczy-zamykanie {

  0% {

    opacity: 0;
  }

  17% {

    opacity: 1;
  }

  57% {

    opacity: 1;
  }

  68% {

    opacity: 0;
  }

  100% {

    opacity: 1;
  }
}

@keyframes oczy-otwieranie {

  0% {

    opacity: 1;
  }

  17% {

    opacity: 0;
  }

  57% {

    opacity: 0;
  }

  68% {

    opacity: 1;
  }

  100% {

    opacity: 0;
  }
}

@keyframes dyndanie {

  from {

    transform: rotate(20deg);
  }

  to {

    transform: rotate(-20deg);
  }
}

@keyframes dyndanie-puzzli {

  from {

    transform: rotate(20deg);
  }

  to {

    transform: rotate(-20deg);
  }
}