.time-axis {

	height: 3 * $space;
	background: grey;

	@extend %row;

	&__item {

		position: relative;
		flex: 1 auto;

		&--prehistioria {

			background-color: $red;
		}
		&--starozytnosc {

			background-color: $green;
		}
		&--sredniowiecze {

			background-color: $blue;
		}

		&:after {

			content: attr(title);
			position: absolute;
			@extend %center;
			color: white;
		}
	}
}
