// .tooltip {

// 	position: relative;
// 	text-decoration: underline;
// 	cursor: pointer;

// 	&:before,
// 	&:after {

// 		position: absolute;
// 		left: 50%;

// 		will-change: opacity, transform;
// 		visibility: hidden;
// 		opacity: 0;
// 		transform: translate(-50%, -10px);

// 		transition: all .2s ease;
// 	}

// 	&:before {

// 		content: "";

// 		width: 0;
// 		height: 0;
// 		top: initial;
// 		bottom: 2rem;
// 		border-left: 25px solid transparent;
// 		border-right: 25px solid transparent;
// 		border-top: 35px solid $black;

// 		transition: transform .2s ease, opacity .2s ease .2s;
// 	}

// 	&:after {

// 		content: attr(data-content);

// 		top: initial;
// 		bottom: 2.5rem;
// 		padding: $space;
// 		width: 20rem;

// 		text-align: center;
// 		background: $black;
// 		color: $white;
// 		border-radius: $border-radius;

// 	}

// 	&:hover {

// 		&:before,
// 		&:after {

// 			visibility: visible;
// 			opacity: 1;
// 			transform: translate(-50%, 0px);
// 		}
// 	}
// }

a.tooltip-link{
	&:hover{
		text-decoration: underline
	}
}

//
// Tooltipster overload
//

.tooltipster-content {
	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

//
// JQUERY tooltipster
//

.tooltipster-default {
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
	border: 2px solid #B5B5B5;
	background: $white;
	color: $black;
	.tooltipster-content {
		padding: 8px 16px;
		overflow: hidden;
		max-width: 35ch;
		text-align: center;
	}
}

.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	.tooltipster-arrow-border {
	}
	span {
		display: block;
		width: 0;
		height: 0;
		position: absolute;
	}
}

.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}

.tooltipster-base {
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
	.tooltipster-content {
		overflow: hidden;
	}
}

.tooltipster-arrow-border {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
}

.tooltipster-arrow-top {
	span {
		border-left: 8px solid transparent !important;
		border-right: 8px solid transparent !important;
		border-top: 8px solid;
		bottom: -7px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.tooltipster-arrow-border {
		border-left: 9px solid transparent !important;
		border-right: 9px solid transparent !important;
		border-top: 9px solid;
		bottom: -7px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

.tooltipster-arrow-top-right {
	span {
		border-left: 8px solid transparent !important;
		border-right: 8px solid transparent !important;
		border-top: 8px solid;
		bottom: -7px;
		right: 6px;
	}
	.tooltipster-arrow-border {
		border-left: 9px solid transparent !important;
		border-right: 9px solid transparent !important;
		border-top: 9px solid;
		bottom: -7px;
		right: 5px;
	}
}

.tooltipster-arrow-top-left {
	span {
		border-left: 8px solid transparent !important;
		border-right: 8px solid transparent !important;
		border-top: 8px solid;
		bottom: -7px;
		left: 6px;
	}
	.tooltipster-arrow-border {
		border-left: 9px solid transparent !important;
		border-right: 9px solid transparent !important;
		border-top: 9px solid;
		bottom: -7px;
		left: 5px;
	}
}

.tooltipster-arrow-bottom {
	span {
		border-left: 8px solid transparent !important;
		border-right: 8px solid transparent !important;
		border-bottom: 8px solid;
		top: -7px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.tooltipster-arrow-border {
		border-left: 9px solid transparent !important;
		border-right: 9px solid transparent !important;
		border-bottom: 9px solid;
		top: -7px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

.tooltipster-arrow-bottom-right {
	span {
		border-left: 8px solid transparent !important;
		border-right: 8px solid transparent !important;
		border-bottom: 8px solid;
		top: -7px;
		right: 6px;
	}
	.tooltipster-arrow-border {
		border-left: 9px solid transparent !important;
		border-right: 9px solid transparent !important;
		border-bottom: 9px solid;
		top: -7px;
		right: 5px;
	}
}

.tooltipster-arrow-bottom-left {
	span {
		border-left: 8px solid transparent !important;
		border-right: 8px solid transparent !important;
		border-bottom: 8px solid;
		top: -7px;
		left: 6px;
	}
	.tooltipster-arrow-border {
		border-left: 9px solid transparent !important;
		border-right: 9px solid transparent !important;
		border-bottom: 9px solid;
		top: -7px;
		left: 5px;
	}
}

.tooltipster-arrow-left {
	span {
		border-top: 8px solid transparent !important;
		border-bottom: 8px solid transparent !important;
		border-left: 8px solid;
		top: 50%;
		margin-top: -7px;
		right: -7px;
	}
	.tooltipster-arrow-border {
		border-top: 9px solid transparent !important;
		border-bottom: 9px solid transparent !important;
		border-left: 9px solid;
		top: 50%;
		margin-top: -8px;
		right: -7px;
	}
}

.tooltipster-arrow-right {
	span {
		border-top: 8px solid transparent !important;
		border-bottom: 8px solid transparent !important;
		border-right: 8px solid;
		top: 50%;
		margin-top: -7px;
		left: -7px;
	}
	.tooltipster-arrow-border {
		border-top: 9px solid transparent !important;
		border-bottom: 9px solid transparent !important;
		border-right: 9px solid;
		top: 50%;
		margin-top: -8px;
		left: -7px;
	}
}

.tooltipster-fade {
	opacity: 0;
	//Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
	transition-property: opacity;
}

.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(0, 0);
	//Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
	transition-property: transform;
}

.tooltipster-grow-show {
	//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(1, 1);
	//Instead of the line below you could use @includetransition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotateZ(4deg);
	//Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
	transition-property: transform;
}

.tooltipster-swing-show {
	opacity: 1;
	//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotateZ(0deg);
	//Instead of the line below you could use @includetransition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	//Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
	transition-property: top;
	//Instead of the line below you could use @includetransition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	&.tooltipster-dying {
		//Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
		transition-property: all;
		top: 0 !important;
		opacity: 0;
	}
}

.tooltipster-fall-show {
}

.tooltipster-slide {
	left: -40px;
	//Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
	transition-property: left;
	//Instead of the line below you could use @includetransition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	&.tooltipster-slide-show {
	}
	&.tooltipster-dying {
		//Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
		transition-property: all;
		left: 0 !important;
		opacity: 0;
	}
}

.tooltipster-content-changing {
	opacity: 0.5;
	//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(1.1, 1.1);
}