// media queries - breakpoints
$media-desktop-tiny:     700px;
$media-desktop-small:    999px;
$media-desktop:          1000px;
$media-desktop-large:    1200px;
$media-desktop-height-1: 600px;

// media queries
@mixin media($media) {

  @if $media == desktop-height-1 {

    @media (max-height: $media-desktop-height-1)

    { @content; }
  }

  @else if $media == desktop-small {

    @media (max-width: $media-desktop-small)

    { @content; }
  }

  @else if $media == desktop {

    @media (min-width: $media-desktop)

    { @content; }
  }

  @else if $media == desktop-large {

    @media (min-width: $media-desktop-large)

    { @content; }
  }

  @else if $media == ipad-retina {

    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2)

      { @content; }
  }

  @else if $media == ipad {

    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)

    { @content; }
  }

  @else if $media == not-ipad {

    @media (min-device-width: 1025px) { @content; }
  }

  @else if $media == highdpi {

    @media (-webkit-min-device-pixel-ratio: 2) { @content; }
  }

  @else if $media == map-1 {

    @media (max-width: 1231px) and (max-height: 661px), (max-width: 1231px), (max-height: 661px) { @content; }
  }
}
