<!DOCTYPE html>
<html ng-app="Map" class="krainy" lang="pl">
<head>
  <meta charset="UTF-8">

  <title>Krainy</title>

  <!-- disable zoom -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <!-- ios specific -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- browser sync -->
  <style>

    body::before {
      background: hsla(0, 100%, 40%, 0.8);
      display: block;
      padding: 20px;
      font-weight: bold;
      font-size: 1.618rem;
    }

  </style>
  <!-- Styles -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body resizable
      id="body"
      class="u-color-bg-white modal-open {{bgColor}}"
      ng-controller="MapController"
      ng-class="{'loaded' : loaded === true}">

  <!-- <figure class="u-debug u-debug--click-through">
    <h1>mapScaleUpdated = <span>{{mapScaleUpdated}}</span></h1>
  </figure> -->

  <!-- Tło -->
  <i class="bg" ng-mouseover="hovering = false" ng-click="mapReset()"></i>

  <!-- Mapa -->
  <main class="map"
       style="
       width: {{mapWidth}}px;
       height: {{mapHeight}}px;
       margin: {{-(mapHeight / 2)}}px 0 0 {{-(mapWidth / 2)}}px;
       background-size: {{mapWidth}}px {{mapHeight}}px;
       -webkit-transform: translate({{mapX * -1}}px, {{mapY * -1}}px) scale({{mapScale}});
       transform: translate({{mapX * -1}}px, {{mapY * -1}}px) scale({{mapScale}})"
       ng-class="{'map--zoomed' : state !== 0}">

       <ng-include src="'img/krainy.svg'"></ng-include>

  </main>

  <!-- Menu krain -->
  <aside class="aside" role="main" ng-class="{'aside--active' : state !== 0}">
    <figure ng-repeat="item in items" ng-if="$parent.state === $index + 1">
      <ul ng-if="items.links.length != 0">
        <!-- <li ng-repeat="child in item.links" ng-mouseover="$parent.listHover = true; listItemHover = true" ng-mouseleave="$parent.listHover = false; listItemHover = false" ng-class="{'list-hover' : $parent.listHover === true, 'item-hover' : listItemHover === true}"> -->
        <li ng-repeat="child in item.links">
          <a href="{{child.href}}" target="_blank">{{child.title}} <!-- <code>{{$parent.listHover}} {{listItemHover}}</code> --></a>
        </li>
      </ul>
    </figure>
  </aside>

  <!-- Nawigacja -->
  <nav class="nav" role="navigation" ng-class="{'nav--hidden' : state === 0}">
    <button class="nav__item"
            ng-repeat="item in items"
            ng-class="{'nav__item--active' : state === $index + 1}"
            ng-click="$parent.state = $index + 1;
                      $parent.mapX = item.x;
                      $parent.mapY = item.y;
                      $parent.mapScale = 1;">{{item.title}}
    </button>
  </nav>

  <figure class="toggle toggle--definition">
    <button ng-click="mapReset()" ng-show="state !==0">Cała mapa</button>
  </figure>

  <!-- Vendor Scripts -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>

  <!-- Angular App -->
  <script src="js/app.js"></script>
</body>
</html>
