@mixin font-size( $decimal-size, $keyword: null ) {

  $base-font-multiplier: 1;

  @if $keyword {

    font-size: $keyword;
  }

  @else {

    font-size: $decimal-size * $base-font-multiplier * 16px;
  }

  font-size: $decimal-size * 1rem;
}

@mixin center {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-flex {

  display: flex;
  align-content: center;
  align-self: center;
}

@mixin center-vertically {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-horizontally {

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin size-fill-parent {

  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin size($width, $height:auto) {

  width: $width;
  height: $height;
}

@mixin square($size) {

  width: $size;
  height: $size;
}

@mixin circle($size) {

  display: table;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
}

@mixin animate-o($opacity: 0, $time: .2s, $easing: ease, $delay: 0s) {

  opacity: $opacity;
  will-change: opacity;
  transition: opacity $time $easing $delay;
}

%line-height-default {

  line-height: $phi * 3;
}

%fullscreen {

  @include size(100vw, 100vh);
  display: block;
}

%fullsize {

  @include size(100%, 100%);
}

%fill-viewport {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%accelerate {

  transform: translate3d(0,0,0);
}

%center {

  @include center;
}

%center-vertically {

  @include center-vertically;
}

%center-horizontally {

  @include center-horizontally;
}

%size-fill-parent {

  @include size-fill-parent;
}

%row {

  display: flex;
  flex-flow: row nowrap;
}

%row-wrap {

  display: flex;
  flex-flow: row wrap;
}

%row-center {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

%column {

  display: flex;
  flex-flow: column wrap;
}

%column-center {

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

%column-center-stretch {

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
}

%column-center-nowrap {

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

%fixed-bg-image {

  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

%space-top {

  margin-top: $space-double;
}

%space-top-bottom {

  margin-top: $space-double;
  margin-bottom: $space-double;
}

%space-bottom {

  margin-bottom: $space-double;
}

%no-overflow {

  overflow: hidden;
}

%no-overflow-x {

  overflow-x: hidden;
}

%no-overflow-x {

  overflow-x: hidden;
}

%overflow-y-auto {

  overflow-y: auto;
}

%font-size-small {

  font-size: $font-size-small;
}

%fixed-fullscreen {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%no-touchy {

  pointer-events: none;
}