@font-face {

    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {

    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {

    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {

  font-family: $font;
  -webkit-text-size-adjust: 100%;
  color: $black;
  line-height: $phi;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {

      width: 5px;
      height: 5px;
      background: $gray-light-2;
      background: rgba(255,255,255,0.5);
  }

  ::-webkit-scrollbar-thumb {

      background: $gray-light;
      background: rgba(0,0,0,0.3);
  }
}

html:-moz-full-screen {
    background: white;
}

html:-webkit-full-screen {
    background: white;
}

html:-ms-fullscreen {
    background: white;
    width: 100%; /* needed to center contents in IE */
}

html:fullscreen {
    background: white;
}

.icon-show.hide {

  &:after {

    content: "__";
    position: absolute;
    left: 5px;
    top: -16px;
    transform: rotate(-45deg);
    font-size: 2em;
  }
}