// Colors

// taken from https://github.com/mrmrs/colors/
// cool
$color-aqua:    #7FDBFF;
$aqua:          $color-aqua;
$color-blue:    #0074D9;
$blue:          $color-blue;
$color-navy:    #001F3F;
$navy:          $color-navy;
$color-teal:    #39CCCC;
$teal:          $color-teal;
$color-green:   #2ECC40;
$green:         $color-green;
$color-olive:   #3D9970;
$olive:         $color-olive;
$color-lime:    #01FF70;
$lime:          $color-lime;

// warm
$color-yellow:  #FFDC00;
$yellow:        $color-yellow;
$color-orange:  #FF851B;
$orange:        $color-orange;
$color-red:     #FF4136;
$red:           $color-red;
$color-fuchsia: #F012BE;
$fuchsia:       $color-fuchsia;
$color-purple:  #B10DC9;
$purple:        $color-purple;
$color-maroon:  #85144B;
$maroon:        $color-maroon;

// gray scale
$color-white:   #FFF;
$white: $color-white;
$color-silver:  #DDD;
$silver: $color-silver;
$color-gray:    #AAA;
$gray: $color-gray;
$color-black:   #111;
$black: $color-black;

/* Backgrounds */

.u-color-bg-navy {    background-color: $color-navy; }
.u-color-bg-blue {    background-color: $color-blue; }
.u-color-bg-aqua {    background-color: $color-aqua; }
.u-color-bg-teal {    background-color: $color-teal; }
.u-color-bg-olive {   background-color: $color-olive; }
.u-color-bg-green {   background-color: $color-green; }
.u-color-bg-lime {    background-color: $color-lime; }
.u-color-bg-yellow {  background-color: $color-yellow; }
.u-color-bg-orange {  background-color: $color-orange; }
.u-color-bg-red {     background-color: $color-red; }
.u-color-bg-fuchsia { background-color: $color-fuchsia; }
.u-color-bg-purple {  background-color: $color-purple; }
.u-color-bg-maroon {  background-color: $color-maroon; }
.u-color-bg-white {   background-color: $color-white; }
.u-color-bg-gray {    background-color: $color-gray; }
.u-color-bg-silver {  background-color: $color-silver; }
.u-color-bg-black {   background-color: $color-black; }


/* Colors */

.u-color-navy {       color: $color-navy; }
.u-color-blue {       color: $color-blue; }
.u-color-aqua {       color: $color-aqua; }
.u-color-teal {       color: $color-teal; }
.u-color-olive {      color: $color-olive; }
.u-color-green {      color: $color-green; }
.u-color-lime {       color: $color-lime; }
.u-color-yellow {     color: $color-yellow; }
.u-color-orange {     color: $color-orange; }
.u-color-red {        color: $color-red; }
.u-color-fuchsia {    color: $color-fuchsia; }
.u-color-purple {     color: $color-purple; }
.u-color-maroon {     color: $color-maroon; }
.u-color-white {      color: $color-white; }
.u-color-silver {     color: $color-silver; }
.u-color-gray {       color: $color-gray; }
.u-color-black {      color: $color-black; }


/* Border colors */

.u-color-border-navy {    border-color: $color-navy; }
.u-color-border-blue {    border-color: $color-blue; }
.u-color-border-aqua {    border-color: $color-aqua; }
.u-color-border-teal {    border-color: $color-teal; }
.u-color-border-olive {   border-color: $color-olive; }
.u-color-border-green {   border-color: $color-green; }
.u-color-border-lime {    border-color: $color-lime; }
.u-color-border-yellow {  border-color: $color-yellow; }
.u-color-border-orange {  border-color: $color-orange; }
.u-color-border-red {     border-color: $color-red; }
.u-color-border-fuchsia { border-color: $color-fuchsia; }
.u-color-border-purple {  border-color: $color-purple; }
.u-color-border-maroon {  border-color: $color-maroon; }
.u-color-border-white {   border-color: $color-white; }
.u-color-border-gray {    border-color: $color-gray; }
.u-color-border-silver {  border-color: $color-silver; }
.u-color-border-black {   border-color: $color-black; }


/* Fills for SVG */

.u-color-fill-navy {    fill: $color-navy; }
.u-color-fill-blue {    fill: $color-blue; }
.u-color-fill-aqua {    fill: $color-aqua; }
.u-color-fill-teal {    fill: $color-teal; }
.u-color-fill-olive {   fill: $color-olive; }
.u-color-fill-green {   fill: $color-green; }
.u-color-fill-lime {    fill: $color-lime; }
.u-color-fill-yellow {  fill: $color-yellow; }
.u-color-fill-orange {  fill: $color-orange; }
.u-color-fill-red {     fill: $color-red; }
.u-color-fill-fuchsia { fill: $color-fuchsia; }
.u-color-fill-purple {  fill: $color-purple; }
.u-color-fill-maroon {  fill: $color-maroon; }
.u-color-fill-white {   fill: $color-white; }
.u-color-fill-gray {    fill: $color-gray; }
.u-color-fill-silver {  fill: $color-silver; }
.u-color-fill-black {   fill: $color-black; }

/* Strokes for SVG */

.u-color-stroke-navy {    stroke: $color-navy; }
.u-color-stroke-blue {    stroke: $color-blue; }
.u-color-stroke-aqua {    stroke: $color-aqua; }
.u-color-stroke-teal {    stroke: $color-teal; }
.u-color-stroke-olive {   stroke: $color-olive; }
.u-color-stroke-green {   stroke: $color-green; }
.u-color-stroke-lime {    stroke: $color-lime; }
.u-color-stroke-yellow {  stroke: $color-yellow; }
.u-color-stroke-orange {  stroke: $color-orange; }
.u-color-stroke-red {     stroke: $color-red; }
.u-color-stroke-fuchsia { stroke: $color-fuchsia; }
.u-color-stroke-purple {  stroke: $color-purple; }
.u-color-stroke-maroon {  stroke: $color-maroon; }
.u-color-stroke-white {   stroke: $color-white; }
.u-color-stroke-gray {    stroke: $color-gray; }
.u-color-stroke-silver {  stroke: $color-silver; }
.u-color-stroke-black {   stroke: $color-black; }
