h1,
h2,
h3,
header,
.font-secondary,
[font-secondary] {

	font-family: $font-secondary;
}

p {

	position: relative;
}

em {

	font-style: italic;
}

p,
blockquote,
ul,
ol,
[class*="important"] {

	margin-top: $space;
	margin-bottom: $space;

	&:last-child {

		margin-bottom: $space;
	}
}

hr {

	border: 0;
	height: 2px;
	background: $gray-light-2;
	margin: $space-double 0;
}

.header-caption {
	font-family: "Open Sans" !important;
	margin-bottom: 0 !important;
	p {
		margin-bottom: 0;
	}
}

.blockquote {

	.section {
		p {
			margin-top: 0;
		}
	}

	@extend %space-top-bottom;

	&:first-child {

		//margin-top: 0
	}

	&:-webkit-full-screen {

		background: red;
		width: 100%;
	}

	.author {

		font-weight: bold;
		font-size: $space * 1.2;
		margin-bottom: 0;
	}

	.title {

		margin-top: 0;
		margin-bottom: $space * 2;
		font-weight: bold;
		font-size: $space * $phi;
		font-family: 'Playfair Display', serif;
	}

	.ref {

		position: relative;
		display: inline-block;
		padding-top: $space-half;
		opacity: .5;
		font-size: $font-size-small;

		&[class*="--before"] {
			margin-right: $space-half / 2;
			opacity: .5;
		}
		&:after {

			content: "";
			position: absolute;
			@include size(100%, 1px);
			top: 0;
			left: 0;
			background: black;
			opacity: .5;
		}
	}
}

.cite {

	position: relative;
	font-style: normal;
	opacity: .5;

	@extend %space-top-bottom;

	&:before,
	&:after {

		position: absolute;
		font-size: $space * 4;
		font-family: $font-secondary;
	}

	&:before {

		content: "„";
		top: $space;
		left: -3rem;
	}

	&:after {

		content: "”";
		bottom: -3rem;
		right: -3rem;
	}

	p {

		&:first-of-type,
		&:last-of-type {

			margin: 0;
		}
	}

	.author {

		font-weight: bold;
	}

	.title {

		font-style: italic;
		font-weight: bold;
	}
}

[class*="important"] {

	position: relative;
	padding: 0 0 0 $space-and-half;
	font-family: $font;

	border-left: 1px solid $important;

	.icon {
		left: -60px;
		position: absolute;
	}

	&:after {

		content: "";
		position: absolute;
		top: 0;
		left: $space-and-half;

		text-transform: uppercase;
		font-size: $font-size-small;
		display: none;
	}

	&:before,
	&:after {

		color: $important;
	}

	&[class*="--title"] {

		figure {
			margin-top: 0;
			margin-bottom: $space-and-half;
		}

		figcaption {
			margin-bottom: 0;
		}

		&:before {

			content: attr(data-title);
			display: block;
			margin-bottom: $space;
		}

		&[class*="--blue"] {

			border-left-color: $blue;

			&.gray-block {
				padding-top: $space;
			}

			.ref {
				position: relative;
				padding-top: 0.5rem;
				opacity: .5;
				font-size: 0.75rem;

				&:after {

					content: "";
					position: absolute;
					@include size(100%, 1px);
					top: 0;
					left: 0;
					background: black;
					opacity: .5;
				}

			}

			&:before,
			&:after {

				color: $blue;
			}
		}

		&[class*="--orange"] {

			border-left-color: $orange;

			&:before,
			&:after {

				color: $orange;
			}
		}

		&[class*="--purple"] {

			border-left-color: $purple;

			&:before,
			&:after {

				color: $purple;
			}
		}

		&[class*="--definition"] {

			padding-top: $space-and-half * 2;

			&:before {

				content: attr(data-definition);

				position: absolute;
				top: $space * 1.5;

				font-size: $font-size-small;
				font-weight: bold;
			}
		}
	}

	> p:first-of-type {

		margin-top: 0;
	}

	p + ul,
	p + ol {

		margin: $space 0 0 $space-and-half;
	}
}

ol[class*="important"],
ul[class*="important"] {

	padding-left: $space * 2.2;

	ol,
	ul {

		margin-top: $space;
	}
}

.extended-content {
	position: relative;

	.extend-section {
		height: 100%;
		width: 100%;
		position: absolute;
		margin-left: $space * -2;
		margin-top: $space-and-half;
		background-image: url("/img/down.svg");
		background-repeat: no-repeat;
		background-size: $space * 1.2;
	}

	.blockquote--header {
		padding-left: $space * 2;
		background-image: url("/img/rozszerzona.svg");
		background-repeat: no-repeat;
		background-size: $space;
		background-position-y: 50%;
		background-position-x: 1%;
	}

	.hide-section {
		height: 100%;
		width: 100%;
		position: absolute;
		margin-left: $space * -2;
		margin-top: $space-and-half;
		background-image: url("/img/up.svg");
		background-repeat: no-repeat;
		background-size: $space * 1.2;
	}

	.important--title {
		padding: $space $space $space $space-and-half;

		&:before {
			padding-left: $space-and-half;
			background-image: url("/img/rozszerzona.svg");
			background-repeat: no-repeat;
			background-size: $space;
			background-position-y: 50%;
		}
	}
}

.for-teacher {
	position: relative;

	.extend-section {
		height: 100%;
		width: 100%;
		position: absolute;
		margin-left: $space * -2;
		margin-top: $space-and-half;
		background-image: url("/img/down.svg");
		background-repeat: no-repeat;
		background-size: $space * 1.2;
	}

	.hide-section {
		height: 100%;
		width: 100%;
		position: absolute;
		margin-left: $space * -2;
		margin-top: $space-and-half;
		background-image: url("/img/up.svg");
		background-repeat: no-repeat;
		background-size: $space * 1.2;
	}

	.important--title {
		padding: $space $space $space $space-and-half;

		&:before {
			padding-left: $space * 2.3;
			background-image: url("/img/dla_nauczyciela3.svg");
			background-repeat: no-repeat;
			background-size: $space-and-half;
			background-position-y: 50%;
		}
	}
}

textarea.static-exercise-textarea {
	width: 100%;
	resize: vertical;
	margin-bottom: $space;
}

.hidecontent {
	display: none;
}

.gray-block {
	background-color: #eff0f0;
	p {
		padding: 0 $space $space 0;
	}
}

.audio-caption {
	color: gray;
	font-size: $space * 0.8;

	p {
		color: black;
		margin: 0;

	}
}

code {

	span {

		color: $red;
	}
}
